<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StorySells: Where Imagination Comes to Life!</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/Icon/Ico.png">
    <script src="https://kit.fontawesome.com/d8ded057c6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>

<body>
<%- include('../Header/header-02.ejs', { text: 'Book', display: 'none', customerData: customerData, totalQuantity: 0 ? totalQuantity : totalQuantity }) -%>

<div class="book__subnav">
    <section class="book__subnav-content">
        <div class="book__subnav-content-link">
            <div class="header__shop-content-subnav" style="justify-content: start;">
                <a href="/story-sells" class="header__shop-content-subnav-home">Home</a>
                <i class="fa-solid fa-arrow-right"></i>
                <%= bookData.book_title %>
            </div>
        </div>
    </section>
</div>
<div class="container" style="margin-top: 25px;">
    <div class="container__full container__book">
        <div id="primary" class="book__area">
            <main id="main" class="main__book" role="main">
                <div class="main__book-product">
                    <div class="main__book-product-wrapper">
                        <div class="main__book-product-wrapper-horizontal">
                            <figure class="main__book-product-gallary">
                                <div class="main__book-product-gallary-content">
                                    <a href="" class="main__book-product-gallary-content-link">
                                        <img src="<%= bookData.cover_image %>" alt=""
                                             class="main__books-product-gallary-img">
                                    </a>
                                </div>
                            </figure>
                        </div>
                        <div class="main__book-product-wrapper-summary">
                            <div class="main__book-product-wrapper-summary-top">
                                <% if (bookData.inventory_count > 0) { %>
                                    <span class="main__book-product-wrapper-summary-status-instock">
                                        In Stock
                                    </span>
                                <% } else { %>
                                    <span class="main__book-product-wrapper-summary-status-outstock">
                                        Out of Stock
                                    </span>
                                <% } %>
                            </div>
                            <h1 class="main__book-product-wrapper-summary-title">
                                <%= bookData.book_title %>
                            </h1>
                            <div class="main__book-product-wrapper-summary-subtitle">
                                <div class="main__book-product-wrapper-summary-subtitle-author">
                                    Author:
                                    <% for (let i = 0; i < bookData.authors.length && i < 3; i++) { %>
                                        <a href="/story-sells/author/<%= bookData.authors[i].author_name %>"
                                           class="main__book-product-wrapper-summary-subtitle-author-link">
                                            <%= bookData.authors[i].author_name %>
                                        </a>
                                        <% if (i !== Math.min(bookData.authors.length, 5) - 1) { %>
                                            ,
                                        <% } %>
                                    <% } %>
                                </div>
                                <div class="main__book-product-wrapper-summary-subtitle-review">
                                    <div class="books__list-detail-caption-review-star" role="img"
                                         aria-label="Rated 5.0 out of 5">
                                        <span
                                                <% /* eslint-disable css-propertyvalueexpected */ %>
                                                style="width: <%= bookData.averageRatingWidth %>%;">>
                                        </span>
                                    </div>
                                    <span><%= bookData.averageRating %></span>
                                </div>
                                <span class="main__book-product-wrapper-summary-subtitle-sku">
                                    SKU:
                                    <span class="sku"></span>
                                </span>
                            </div>
                            <span class="books__list-detail-caption-price" style="font-size: 40px;">
                                <% if (bookData.sale_price) { %>
                                    <del aria-hidden="true">
                                        <span class="books__list-detail-caption-price-amount amount">
                                            <bdi>
                                                <span class="books__list-detail-caption-price-amount-symbol">$</span>
                                                <%= bookData.price %>
                                            </bdi>
                                        </span>
                                    </del>
                                    <ins>
                                        <span class="books__list-detail-caption-price-amount amount">
                                            <bdi>
                                                <span class="books__list-detail-caption-price-amount-symbol">$</span>
                                                <%= bookData.sale_price %>
                                            </bdi>
                                        </span>
                                    </ins>
                                <% } else { %>
                                    <ins>
                                        <span class="books__list-detail-caption-price-amount amount">
                                            <bdi>
                                                <span class="books__list-detail-caption-price-amount-symbol">$</span>
                                                <%= bookData.price %>
                                            </bdi>
                                        </span>
                                    </ins>
                                <% } %>
                            </span>
                            <div class="main__book-product-wrapper-summary-description">
                                <%= bookData.description %>
                            </div>
                            <form action="/story-sells/book/<%= bookData.id %>" method="POST"
                                  class="main__book-product-wrapper-summary-form">
                                <input type="hidden" name="action" value="cart">
                                <div class="main__book-product-form-quantity">
                                    <label for="" class="main__book-product-form-quantity-label">Quantity</label>
                                    <div class="main__book-product-form-quantity-added">
                                        <button class="main__book-product-form-quantity-added-button minus">
                                            <i class="fa-solid fa-minus"></i>
                                        </button>
                                        <label for="quantity" style="display: none;">Quantity:</label>
                                        <input type="number" id="quantity" step="1" min="1" max="999"
                                               name="quantity" value="1" inputmode="numeric"
                                               class="main__book-product-form-quantity-added-input" placeholder="">
                                        <button class="main__book-product-form-quantity-added-button plus">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </div>
                                    <script>
                                        const input = document.getElementById("quantity");
                                        const minusButton = document.querySelector(".minus");
                                        const plusButton = document.querySelector(".plus");

                                        minusButton.addEventListener("click", (event) => {
                                            event.preventDefault();
                                            if (input.value > 1) {
                                                input.value = parseInt(input.value) - 1;
                                            }
                                        });

                                        plusButton.addEventListener("click", (event) => {
                                            event.preventDefault();
                                            if (input.value < 999) {
                                                input.value = parseInt(input.value) + 1;
                                            }
                                        });

                                    </script>
                                </div>
                                <button type="submit" class="main__book-product-form-buy">
                                    <i class="fa-solid fa-cart-arrow-down"></i>
                                    Add to cart
                                </button>
                                <button type="submit" class="main__book-product-form-wish">
                                    <i class="fa-regular fa-heart"></i>
                                    Add to wishlist
                                </button>
                            </form>
                            <% if (addedToCart) { %>
                                <div class="success-message">
                                    <%= successMessage %>
                                </div>
                                <script>
                                    const successMessage = document.querySelector('.success-message');

                                    setTimeout(() => {
                                        successMessage.style.display = 'none';
                                    }, 10000);
                                </script>
                            <% } %>
                            <% if (outOfInventory) { %>
                                <div class="success-message" style="background-color: var(--color-primary)">
                                    <%= outOfInventoryMessage %>
                                </div>
                                <script>
                                    const successMessage = document.querySelector('.success-message');

                                    setTimeout(() => {
                                        successMessage.style.display = 'none';
                                    }, 10000);
                                </script>
                            <% } %>

                            <div class="main__book-product-wrapper-summary-meta">
                                <span class="main__book-product-wrapper-summary-meta-tagged">
                                    Tags:
                                    <a href="/story-sells/book/" rel="tag">Books</a>
                                </span>
                                <span class="main__book-product-wrapper-summary-meta-posted">
                                    Categories:
                                    <% for (let i = 0; i < Math.min(bookData.genres.length, 5); i++) { %>
                                        <a href="/story-sells/gerne/<%= bookData.genres[i].genre_name %>" rel="tag">
                                            <%= bookData.genres[i].genre_name %>
                                        </a>
                                        <% if (i !== Math.min(bookData.genres.length, 5) - 1) { %>
                                            ,
                                        <% } %>
                                    <% } %>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="main__book-product-about">
                        <ul class="main__book-product-about-list">
                            <li class="main__book-product-about-list-item main__book-product-about-list-item-active">
                                <a href="#" data-target="description"
                                   class="main__book-product-about-list-link">
                                    Description
                                </a>
                            </li>
                            <li class="main__book-product-about-list-item">
                                <a href="#" data-target="reviews" class="main__book-product-about-list-link">
                                    Reviews
                                    <span class="number__reviews">(<%= bookData.reviews.length %>)</span>
                                </a>
                            </li>
                            <li class="main__book-product-about-list-item">
                                <a href="#" data-target="vendor" class="main__book-product-about-list-link">
                                    Vendor Info
                                </a>
                            </li>
                        </ul>
                        <div class="main__book-product-about-content">
                            <div id="description"
                                 class="main__book-product-about-content-margin main__book-product-about-content-description active">
                                <p>
                                    <%= bookData.description %>
                                </p>
                            </div>
                            <div id="reviews"
                                 class="main__book-product-about-content-margin main__book-product-about-content-reviews">
                                <ol class="main__book-product-about-content-reviews-list">
                                    <% for (let i = 0; i < bookData.reviews.length; i++) { %>
                                        <li class="main__book-product-about-content-reviews-list-item">
                                            <div class="main__book-product-about-content-reviews-comment">
                                                <div class="main__book-product-wrapper-summary-subtitle-review">
                                                    <img src="<%= bookData.reviews[i].customer.customer_avatar %>"
                                                         alt=""
                                                         class="main__book-product-about-content-reviews-avatar">
                                                    <div style="display: flex; flex-direction: column; line-height: 10px">
                                                        <div class="books__list-detail-caption-review">
                                                            <div class="books__list-detail-caption-review-star"
                                                                 role="img"
                                                                 aria-label="Rated 5.0 out of 5">
                                                                <span style="width: <%= bookData.reviews[i].ratingWidth %>%;"></span>
                                                            </div>
                                                            <span><%= bookData.reviews[i].rating %></span>
                                                        </div>
                                                        <div>
                                                            <div class="main__book-product-about-content-reviews-meta">
                                                                <Strong class="main__book-product-about-content-reviews-meta-author">
                                                                    <%= bookData.reviews[i].customer.customer_firstName + " " + bookData.reviews[i].customer.customer_lastName %>
                                                                </Strong>
                                                                <time class="main__book-product-about-content-reviews-date">
                                                                    <%= bookData.reviews[i].updatedAt %>
                                                                </time>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p>
                                                    <%= bookData.reviews[i].comment %>
                                                </p>
                                            </div>
                                        </li>
                                    <% } %>
                                </ol>
                            </div>
                            <div id="vendor"
                                 class="main__book-product-about-content-margin main__book-product-about-content-vendor">
                                <ul class="main__book-product-about-content-vendor-list">
                                    <li class="main__book-product-about-content-vendor-list-item">
                                        <% for (let i = 0; i < bookData.publishers.length; i++) { %>
                                            <strong>Vendor: </strong>
                                            <span><%= bookData.publishers[i].publisher_name %></span>
                                            <div>
                                                <% if (bookData.publishers[i].publisher_location) { %>
                                                    <div>
                                                        <strong>Address: </strong>
                                                        <span><%= bookData.publishers[i].publisher_location %></span>
                                                    </div>
                                                <% } %>
                                                <% if (bookData.publishers[i].contact_information) { %>
                                                    <div>
                                                        <strong>Contact Information: </strong>
                                                        <span><%= bookData.publishers[i].contact_information %></span>
                                                    </div>
                                                <% } %>
                                            </div>
                                            <br>
                                        <% } %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <script>
                            const listItems = document.querySelectorAll('.main__book-product-about-list-item');
                            const contentItems = document.querySelectorAll('.main__book-product-about-content > div');

                            listItems.forEach((listItem) => {
                                const link = listItem.querySelector('a');
                                link.addEventListener('click', (event) => {
                                    event.preventDefault();
                                    const target = link.getAttribute('data-target');
                                    contentItems.forEach((contentItem) => {
                                        contentItem.classList.remove('active');
                                        if (contentItem.classList.contains(`main__book-product-about-content-${target}`)) {
                                            contentItem.classList.add('active');
                                        }
                                    });
                                    listItems.forEach((item) => {
                                        item.classList.remove('main__book-product-about-list-item-active');
                                    });
                                    listItem.classList.add('main__book-product-about-list-item-active');
                                });
                            });
                        </script>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<%- include('../Footer/footer.ejs') -%>
</body>

</html>