<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StorySells: Where Imagination Comes to Life!</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/Icon/Ico.png">
    <script src="https://kit.fontawesome.com/d8ded057c6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>

<body>
<%- include('../Header/header-01.ejs', {genres: totalGenres, totalQuantity: totalQuantity}) -%>

<div class="content">
    <main id="content__main">
        <section class="books">
            <div class="books__content">
                <div class="books__content-left">
                    <div class="books__content-left-paddind">
                        <div class="books__categories"></div>
                        <div class="books__topweek">
                            <h5 class="books__topweek-title">Top <%= currentWeekBestSaleBooks.length %>
                                This Week
                            </h5>
                            <div class="books__topweek-content">
                                <ul class="books__topweek-list">
                                    <% for (let i = 0; i < currentWeekBestSaleBooks.length; i++) { %>
                                        <li class="books__topweek-list-item">
                                            <% let color; %>
                                            <% switch (i) {
                                                case 0:
                                                    color = "--color-pale-pink";
                                                    break;
                                                case 1:
                                                    color = "--color-luminous-vivid-amber";
                                                    break;
                                                case 2:
                                                    color = "--color-light-green-cyan";
                                                    break;
                                                case 3:
                                                    color = "--color-pale-cyan-blue";
                                                    break;
                                                case 4:
                                                    color = " --color-cyan-bluish-gray";
                                                    break;
                                                case 5:
                                                    color = "--color-lavender-blue";
                                                    break;
                                                default:
                                                    color = "--color-light-green-cyan";
                                                    break;
                                            } %>
                                            <div class="books__topweek-logo">
                                                <span class="books__topweek-logo-number"
                                                        <% /*eslint-disable css-propertyvalueexpected */ %>
                                                      style="background-color: var(<%= color %>)">
                                                    <%= i + 1 %>
                                                </span>
                                                <a href="/story-sells/book/<%= currentWeekBestSaleBooks[i]._id %>"
                                                   class="books__topweek-logo-link">
                                                    <img src="<%= currentWeekBestSaleBooks[i].cover_image %>" alt=""
                                                         class="books__topweek-logo-image">
                                                </a>
                                            </div>
                                            <div class="books__topweek-text">
                                                <h3 class="books__topweek-text-title">
                                                    <a href="/story-sells/book/<%= currentWeekBestSaleBooks[i]._id %>">
                                                        <%= currentWeekBestSaleBooks[i].book_title %>
                                                    </a>
                                                </h3>
                                                <div class="books__topweek-text-author">
                                                    <% for (let j = 0; j < currentWeekBestSaleBooks[i].authors.length && j < 3; j++) { %>
                                                        <a href="/story-sells/author/<%= currentWeekBestSaleBooks[i].authors[j] %>">
                                                            <%= currentWeekBestSaleBooks[i].authors[j] %>
                                                            <% if (j < currentWeekBestSaleBooks[i].authors.length - 1) { %>
                                                                , <%= " " %>
                                                            <% } %>
                                                        </a>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                        <div class="books__bestseller">
                            <h5 class="books__bestseller-title">Best seller</h5>
                            <div class="books__bestseller-content">
                                <% if (booksOfAll && booksOfAll.length > 0) { %>
                                    <ul class="books__bestseller-list">
                                        <% for (let i = 0; i < booksOfAll.length; i++) { %>
                                            <li class="books__bestseller-list-item">
                                                <div class="books__bestseller-list-item-product">
                                                    <div class="books__bestseller-logo">
                                                        <a href="/story-sells/book/<%= booksOfAll[i]._id %>"
                                                           class="books__bestseller-logo-link">
                                                            <img src="<%= booksOfAll[i].cover_image %>" alt=""
                                                                 class="books__bestseller-logo-image">
                                                        </a>
                                                    </div>
                                                    <div class="books__bestseller-text">
                                                        <h3 class="books__bestseller-text-title">
                                                            <a href="/story-sells/book/<%= booksOfAll[i]._id %>">
                                                                <%= booksOfAll[i].book_title %>
                                                            </a>
                                                        </h3>
                                                        <div class="books__bestseller-text-rate">
                                                            <div class="books__bestseller-text-rate-star"
                                                                 role="img"
                                                                 aria-label="Rated <%= booksOfAll[i].rating %> out of 5">
                                                                <span
                                                                        <% /* eslint-disable-css-propertyvalueexpected */ %>
                                                                        style="width: <%= booksOfAll[i].ratingWidth %>%;">
                                                                </span>
                                                            </div>
                                                            <span>
                                                                <%= booksOfAll[i].rating %>
                                                            </span>
                                                        </div>
                                                        <div class="books__bestseller-text-author">
                                                            <% for (let j = 0; j < booksOfAll[i].authors.length && j < 3; j++) { %>
                                                                <a href="/story-sells/author/<%= booksOfAll[i].authors[j] %>">
                                                                    <%= booksOfAll[i].authors[j] %>
                                                                    <% if (j < booksOfAll[i].authors.length - 1) { %>
                                                                        , <%= " " %>
                                                                    <% } %>
                                                                </a>
                                                            <% } %>
                                                        </div>
                                                        <span class="books__bestseller-text-price">
                                                            <% if (booksOfAll[i].sale_price) { %>
                                                                <del aria-hidden="true">
                                                                    <span class="books__bestseller-text-price-amount amount">
                                                                        <bdi>
                                                                            <span class="books__bestseller-text-price-amount-symbol">$</span>
                                                                            <%= booksOfAll[i].price %>
                                                                        </bdi>
                                                                    </span>
                                                                </del>
                                                                <ins>
                                                                    <span class="books__bestseller-text-price-amount amount">
                                                                        <bdi>
                                                                            <span class="books__bestseller-text-price-amount-symbol">$</span>
                                                                            <%= booksOfAll[i].sale_price %>
                                                                        </bdi>
                                                                    </span>
                                                                </ins>
                                                            <% } else { %>
                                                                <ins>
                                                                    <span class="books__bestseller-text-price-amount amount">
                                                                        <bdi>
                                                                            <span class="books__bestseller-text-price-amount-symbol">$</span>
                                                                            <%= booksOfAll[i].price %>
                                                                        </bdi>
                                                                    </span>
                                                                </ins>
                                                            <% } %>
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                        <% } %>
                                    </ul>
                                <% } %>
                            </div>
                        </div>
                        <div class="books__sale">
                            <div class="books__sale-widget">
                                <span class="books__sale-widget-link">
                                    <div class="books__sale-widget-wrapper">
                                        <div class="books__sale-widget-wrapper-img">
                                            <img src="/img/background/background-07.jpg" alt="">
                                        </div>
                                        <div class="books__sale-widget-wrapper-overlay"></div>
                                    </div>
                                    <div class="books__sale-widget-content">
                                        <div class="books__sale-widget-content-text">
                                            <div class="books__sale-widget-content-text-subtitle">
                                                <span>
                                                    Best seller Books
                                                </span>
                                            </div>
                                            <h3 class="books__sale-widget-content-text-title">
                                                Sale 50%
                                            </h3>
                                            <a href="" class="books__sale-widget-content-text-button">
                                                Shop Now
                                                <i class="fa-solid fa-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class="books__total">
                            <div class="books__total-content">
                                <div class="books__total-content-wrapper">
                                    <div class="books__total-content-icon">
                                        <span class="books__total-content-icon-animation">
                                            <i class="fa-solid fa-book"></i>
                                        </span>
                                    </div>
                                    <div class="books__total-content-text">
                                        <h3 class="books__total-content-text-title">
                                            <span>
                                                <%= totalBooks %>
                                            </span>
                                        </h3>
                                        <p class="books__total-content-text-description">Total Books</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="books__total books__author">
                            <div class="books__total-content books__author-content">
                                <div class="books__total-content-wrapper books__author-content-wrapper">
                                    <div class="books__total-content-icon books__author-content-icon">
                                        <span class="books__total-content-icon-animation books__author-content-icon-animation">
                                            <i class="fa-regular fa-user"></i>
                                        </span>
                                    </div>
                                    <div class="books__total-content-text books__author-content-text">
                                        <h3 class="books__total-content-text-title books__author-content-text-title">
                                            <span>
                                                <%= totalAuthors %>
                                            </span>
                                        </h3>
                                        <p class="books__total-content-text-description books__author-content-text-description">
                                            Authors
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="books__content-right">
                    <div class="books__content-right-flex">
                        <section class="books__banner">
                            <div class="books__banner-content">
                                <div class="books__banner-content-wrap">
                                    <div class="books__banner-content-wrap-module">
                                        <div class="books__banner-content-bullets">
                                            <div class="books__banner-content-bullets-outer">
                                                <span class="books__banner-content-bullets-inner selected"></span>
                                            </div>
                                            <div class="books__banner-content-bullets-outer">
                                                <span class="books__banner-content-bullets-inner"></span>
                                            </div>
                                        </div>
                                        <div class="books__banner-content-progress"></div>
                                        <div class="books__banner-content-slides">
                                            <div class="books__banner-content-slides-bg">
                                                <img src="/img/banner/revslider-shape.png" alt=""
                                                     class="books__banner-content-slides-subbg">
                                            </div>
                                            <div class="books__banner-content-slides-content">
                                                <div class="books__banner-content-slides-content-wrap">
                                                    <div class="books__banner-content-slides-content-text">
                                                        <span class="books__banner-content-slides-content-text-subtitle">
                                                            Special Offer
                                                        </span>
                                                        <h3 class="books__banner-content-slides-content-text-title">
                                                            The Best Books
                                                            <br>
                                                            of 2022
                                                        </h3>
                                                        <p class="books__banner-content-slides-content-text-describe">
                                                            <strong style="color: var(--color-primary);">
                                                                10%
                                                            </strong>
                                                            Off when you spend $59
                                                            <br>
                                                            or more with code:
                                                            <strong style="color: var(--color-primary);">
                                                                SAVEMORE
                                                            </strong>
                                                        </p>
                                                        <div class="books__banner-content-slides-content-text-button">
                                                            <a href=""
                                                               class="books__banner-content-slides-content-text-button-link">
                                                                Shop now
                                                                <i class="fa-solid fa-chevron-right"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="books__banner-content-slides-content-book">
                                                        <img src="/img/banner/book-cover.png" alt=""
                                                             class="books__banner-content-slides-content-book-img">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="books__banner-content-slides-dash">
                                                <img src="/img/banner/revslider-vector.png" alt=""
                                                     class="books__banner-content-slides-dash-img">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="books__list">
                            <div class="books__list-content">
                                <div class="books__list-content-header">
                                    <ul class="books__list-content-header-list">
                                        <li class="books__list-content-header-list-item books__list-content-header-list-item-active">
                                            <button type="button" class="books__list-content-header-list-item-link"
                                                    id="popularBooksLink"
                                                    onclick="toggleActiveClass(this, 'popularBook')">
                                                Popular Books
                                            </button>
                                        </li>
                                        <li class="books__list-content-header-list-item">
                                            <button type="button" class="books__list-content-header-list-item-link"
                                                    id="onSaleLink" onclick="toggleActiveClass(this, 'onSale')">
                                                On Sale
                                            </button>
                                        </li>
                                        <li class="books__list-content-header-list-item">
                                            <button type="button" class="books__list-content-header-list-item-link"
                                                    id="topRatedLink" onclick="toggleActiveClass(this, 'topRated')">
                                                Top Rated
                                            </button>
                                        </li>
                                    </ul>
                                    <span class="books__list-content-header-underline"></span>
                                    <a href="/story-sells/shop" class="books__list-content-header-link">
                                        View All
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </a>
                                </div>
                                <div class="books__list-content-wrapper" id="popularBook" style="display: block">
                                    <ul class="books__list-content-wrapper-list">
                                        <% for(let i = 0; i < sortedBooks.length && i < 10; i++) { %>
                                            <li class="books__list-content-wrapper-list-item">
                                                <div class="books__list-detail">
                                                    <div class="books__list-detail-transition">
                                                        <div class="books__list-image">
                                                            <a href="/story-sells/book/<%= sortedBooks[i]._id %>">
                                                                <img src="<%= sortedBooks[i].cover_image %>" alt=""
                                                                     class="books__list-image-bookcover">
                                                            </a>
                                                        </div>
                                                        <div class="books__list-action">
                                                            <div class="books__list-action-vertical">
                                                                <form method="POST" class="addToFavoritesForm">
                                                                    <button class="books__list-action-button"
                                                                            type="submit">
                                                                        Browse wishlist
                                                                        <i class="fa-regular fa-heart"></i>
                                                                    </button>
                                                                    <button class="books__list-action-button"
                                                                            type="submit"
                                                                            onclick="addToCart('<%= sortedBooks[i]._id %>')">
                                                                        <i class="fa-solid fa-cart-shopping"></i>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="books__list-detail-caption">
                                                        <h3 class="books__list-detail-caption-title">
                                                            <a href="/story-sells/book/<%= sortedBooks[i]._id %>">
                                                                <%= sortedBooks[i].book_title %>
                                                            </a>
                                                        </h3>
                                                        <div class="books__list-detail-caption-review">
                                                            <div class="books__list-detail-caption-review-star"
                                                                 role="img" aria-label="Rated 5.0 out of 5">
                                                                <span
                                                                        <% /*eslint-disable-css-propertyvalueexpected*/ %>
                                                                        style="width: <%=
                                                                            sortedBooks[i].ratingWidth %>%;">
                                                                </span>
                                                            </div>
                                                            <span>
                                                                <%= sortedBooks[i].rating %>
                                                            </span>
                                                        </div>
                                                        <div class="books__list-detail-caption-author">
                                                            <% for (let j = 0; j < sortedBooks[i].authors.length && j < 3; j++) { %>
                                                                <a href="/story-sells/author/<%= sortedBooks[i].authors[j] %>">
                                                                    <%= sortedBooks[i].authors[j] %>
                                                                    <% if (j < sortedBooks[i].authors.length - 1) { %>
                                                                        , <%= " " %>
                                                                    <% } %>
                                                                </a>
                                                            <% } %>
                                                        </div>
                                                        <span class="books__list-detail-caption-price">
                                                            <% if (sortedBooks[i].sale_price) { %>
                                                                <del aria-hidden="true">
                                                                    <span class="books__list-detail-caption-price-amount amount">
                                                                        <bdi>
                                                                            <span class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                            <%= sortedBooks[i].price %>
                                                                        </bdi>
                                                                    </span>
                                                                </del>
                                                                <ins>
                                                                    <span class="books__list-detail-caption-price-amount amount">
                                                                        <bdi>
                                                                            <span class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                            <%= sortedBooks[i].sale_price %>
                                                                        </bdi>
                                                                    </span>
                                                                </ins>
                                                            <% } else { %>
                                                                <ins>
                                                                    <span class="books__list-detail-caption-price-amount amount">
                                                                        <bdi>
                                                                            <span class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                            <%= sortedBooks[i].price %>
                                                                        </bdi>
                                                                    </span>
                                                                </ins>
                                                            <% } %>
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                        <% } %>
                                    </ul>
                                </div>
                                <div class="books__list-content-wrapper" id="onSale" style="display: none">
                                    <ul class="books__list-content-wrapper-list">
                                        <% for(let i = 0; i < onSaleBooks.length && i < 10; i++) { %>
                                            <li class="books__list-content-wrapper-list-item">
                                                <div class="books__list-detail">
                                                    <div class="books__list-detail-transition">
                                                        <div class="books__list-image">
                                                            <a href="/story-sells/book/<%= onSaleBooks[i]._id %>">
                                                                <img src="<%= onSaleBooks[i].cover_image %>" alt=""
                                                                     class="books__list-image-bookcover">
                                                            </a>
                                                        </div>
                                                        <div class="books__list-action">
                                                            <div class="books__list-action-vertical">
                                                                <form method="POST" class="addToFavoritesForm">
                                                                    <button class="books__list-action-button"
                                                                            type="submit">
                                                                        Browse wishlist
                                                                        <i class="fa-regular fa-heart"></i>
                                                                    </button>
                                                                    <button class="books__list-action-button"
                                                                            type="submit"
                                                                            onclick="addToCart('<%= onSaleBooks[i]._id %>')">
                                                                        <i class="fa-solid fa-cart-shopping"></i>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="books__list-detail-caption">
                                                        <h3 class="books__list-detail-caption-title">
                                                            <a href="/story-sells/book/<%= onSaleBooks[i]._id %>">
                                                                <%= onSaleBooks[i].book_title %>
                                                            </a>
                                                        </h3>
                                                        <div class="books__list-detail-caption-review">
                                                            <div class="books__list-detail-caption-review-star"
                                                                 role="img" aria-label="Rated 5.0 out of 5">
                                                                <span
                                                                        <% /*eslint-disable-css-propertyvalueexpected*/ %>
                                                                        style="width: <%=
                                                                            onSaleBooks[i].ratingWidth %>%;">
                                                                </span>
                                                            </div>
                                                            <span>
                                                                <%= onSaleBooks[i].rating %>
                                                            </span>
                                                        </div>
                                                        <div class="books__list-detail-caption-author">
                                                            <% for (let j = 0; j < onSaleBooks[i].authors.length && j < 3; j++) { %>
                                                                <a href="/story-sells/author/<%= onSaleBooks[i].authors[j] %>">
                                                                    <%= onSaleBooks[i].authors[j] %>
                                                                    <% if (j < onSaleBooks[i].authors.length - 1) { %>
                                                                        , <%= " " %>
                                                                    <% } %>
                                                                </a>
                                                            <% } %>
                                                        </div>
                                                        <span class="books__list-detail-caption-price">
                                                            <% if (onSaleBooks[i].sale_price) { %>
                                                                <del aria-hidden="true">
                                                                    <span class="books__list-detail-caption-price-amount amount">
                                                                        <bdi>
                                                                            <span class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                            <%= onSaleBooks[i].price %>
                                                                        </bdi>
                                                                    </span>
                                                                </del>
                                                                <ins>
                                                                    <span class="books__list-detail-caption-price-amount amount">
                                                                        <bdi>
                                                                            <span class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                            <%= onSaleBooks[i].sale_price %>
                                                                        </bdi>
                                                                    </span>
                                                                </ins>
                                                            <% } else { %>
                                                                <ins>
                                                                    <span class="books__list-detail-caption-price-amount amount">
                                                                        <bdi>
                                                                            <span class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                            <%= onSaleBooks[i].price %>
                                                                        </bdi>
                                                                    </span>
                                                                </ins>
                                                            <% } %>
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                        <% } %>
                                    </ul>
                                </div>
                                <div class="books__list-content-wrapper" id="topRated" style="display: none">
                                    <ul class="books__list-content-wrapper-list">
                                        <% for(let i = 0; i < topRatedBooks.length && i < 10; i++) { %>
                                            <li class="books__list-content-wrapper-list-item">
                                                <div class="books__list-detail">
                                                    <div class="books__list-detail-transition">
                                                        <div class="books__list-image">
                                                            <a href="/story-sells/book/<%= topRatedBooks[i]._id %>">
                                                                <img src="<%= topRatedBooks[i].cover_image %>" alt=""
                                                                     class="books__list-image-bookcover">
                                                            </a>
                                                        </div>
                                                        <div class="books__list-action">
                                                            <div class="books__list-action-vertical">
                                                                <form method="POST" class="addToFavoritesForm">
                                                                    <button class="books__list-action-button"
                                                                            type="submit">
                                                                        Browse wishlist
                                                                        <i class="fa-regular fa-heart"></i>
                                                                    </button>
                                                                    <button class="books__list-action-button"
                                                                            type="submit"
                                                                            onclick="addToCart('<%= topRatedBooks[i]._id %>')">
                                                                        <i class="fa-solid fa-cart-shopping"></i>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="books__list-detail-caption">
                                                        <h3 class="books__list-detail-caption-title">
                                                            <a href="/story-sells/book/<%= topRatedBooks[i]._id %>">
                                                                <%= topRatedBooks[i].book_title %>
                                                            </a>
                                                        </h3>
                                                        <div class="books__list-detail-caption-review">
                                                            <div class="books__list-detail-caption-review-star"
                                                                 role="img" aria-label="Rated 5.0 out of 5">
                                                                <span
                                                                        <% /*eslint-disable-css-propertyvalueexpected*/ %>
                                                                        style="width: <%=
                                                                            topRatedBooks[i].ratingWidth %>%;">
                                                                </span>
                                                            </div>
                                                            <span>
                                                                <%= topRatedBooks[i].rating %>
                                                            </span>
                                                        </div>
                                                        <div class="books__list-detail-caption-author">
                                                            <% for (let j = 0; j < topRatedBooks[i].authors.length && j < 3; j++) { %>
                                                                <a href="/story-sells/author/<%= topRatedBooks[i].authors[j] %>">
                                                                    <%= topRatedBooks[i].authors[j] %>
                                                                    <% if (j < topRatedBooks[i].authors.length - 1) { %>
                                                                        , <%= " " %>
                                                                    <% } %>
                                                                </a>
                                                            <% } %>
                                                        </div>
                                                        <span class="books__list-detail-caption-price">
                                                            <% if (topRatedBooks[i].sale_price) { %>
                                                                <del aria-hidden="true">
                                                                    <span class="books__list-detail-caption-price-amount amount">
                                                                        <bdi>
                                                                            <span class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                            <%= topRatedBooks[i].price %>
                                                                        </bdi>
                                                                    </span>
                                                                </del>
                                                                <ins>
                                                                    <span class="books__list-detail-caption-price-amount amount">
                                                                        <bdi>
                                                                            <span class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                            <%= topRatedBooks[i].sale_price %>
                                                                        </bdi>
                                                                    </span>
                                                                </ins>
                                                            <% } else { %>
                                                                <ins>
                                                                    <span class="books__list-detail-caption-price-amount amount">
                                                                        <bdi>
                                                                            <span class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                            <%= topRatedBooks[i].price %>
                                                                        </bdi>
                                                                    </span>
                                                                </ins>
                                                            <% } %>
                                                        </span>
                                                    </div>
                                                </div>
                                            </li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                            <script>
                                function toggleActiveClass(selectedLink, targetId) {
                                    const links = document.querySelectorAll('.books__list-content-header-list-item-link');
                                    const contentWrappers = document.querySelectorAll('.books__list-content-wrapper');

                                    // Remove active class from all links
                                    links.forEach((link) => {
                                        link.parentElement.classList.remove('books__list-content-header-list-item-active');
                                    });

                                    // Add active class to the selected link
                                    selectedLink.parentElement.classList.add('books__list-content-header-list-item-active');

                                    // Hide all content wrappers
                                    contentWrappers.forEach((wrapper) => {
                                        wrapper.style.display = 'none';
                                    });

                                    // Show the target content wrapper
                                    const targetWrapper = document.getElementById(targetId);
                                    if (targetWrapper) {
                                        targetWrapper.style.display = 'block';
                                    }
                                }
                            </script>
                        </section>
                        <section class="books__panel">
                            <div class="books__panel-content">
                                <div class="books__panel-content-left">
                                    <div class="books__panel-content-left-wrapper">
                                        <div class="books__panel-widget">
                                            <div class="books__panel-widget-img">
                                                <img src="/img/background/background-01.jpg" alt="">
                                            </div>
                                            <div class="books__panel-widget-caption">
                                                <div class="books__panel-widget-caption-subtitle">
                                                    <span>
                                                        Up To 20% Off
                                                    </span>
                                                </div>
                                                <h3 class="books__panel-widget-caption-title">
                                                    Enjoy The Weekend
                                                    <br>
                                                    With Good Books
                                                </h3>
                                                <div>
                                                    <a href="" class="books__panel-widget-caption-button">
                                                        Shop now
                                                        <i class="fa-solid fa-chevron-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="books__panel-content-right">
                                    <div class="books__panel-content-right-wrapper">
                                        <div class="books__panel-widget">
                                            <div class="books__panel-widget-img">
                                                <img src="/img/background/background-02.jpg" alt="">
                                            </div>
                                            <div class="books__panel-widget-caption">
                                                <div class="books__panel-widget-caption-subtitle">
                                                    <span>
                                                        Special Offer
                                                    </span>
                                                </div>
                                                <h3 class="books__panel-widget-caption-title">
                                                    20% Off
                                                    <br>
                                                    <span>
                                                        Best bookshelf in town
                                                    </span>
                                                </h3>
                                                <div>
                                                    <a href="" class="books__panel-widget-caption-button">
                                                        Shop now
                                                        <i class="fa-solid fa-chevron-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="books__panel-content-under">
                                    <div class="books__panel-widget">
                                        <div class="books__panel-widget-img">
                                            <img src="/img/background/background-03.png" alt="">
                                        </div>
                                        <div class="books__panel-widget-caption">
                                            <div class="books__panel-widget-caption-content">
                                                <div class="books__panel-widget-caption-subtitle">
                                                    <span>
                                                        Children's Books
                                                    </span>
                                                </div>
                                                <h3 class="books__panel-widget-caption-title">
                                                    Sale 25% Off
                                                </h3>
                                                <span class="books__panel-widget-caption-describe">
                                                    It all begins with a great book!
                                                </span>
                                            </div>
                                            <div>
                                                <span class="books__panel-widget-caption-describe">
                                                    Online Books store!
                                                </span>
                                                <a href="" class="books__panel-widget-caption-button">
                                                    Shop now
                                                    <i class="fa-solid fa-chevron-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="books__sublist">
                            <div class="books__sublist-content">
                                <div class="books__sublist-content-topsell">
                                    <div class="books__sublist-content-title">
                                        <h4>Top Selling</h4>
                                    </div>
                                    <div class="books__sublist-content-underline">
                                        <span>

                                        </span>
                                    </div>
                                    <div class="books__sublist-content-column">
                                        <ul class="books__sublist-content-column-list">
                                            <% for(let i = 0; i < randomSaleBooks.length && i < 3; i++){ %>
                                                <li class="books__sublist-content-column-list-item">
                                                    <div class="books__sublist-content-column-product">
                                                        <div class="books__sublist-content-column-product-img">
                                                            <a href="/story-sells/book/<%= randomSaleBooks[i]._id %>"
                                                               class="books__sublist-content-column-product-img-link">
                                                                <img src="<%= randomSaleBooks[i].cover_image %>" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="books__sublist-content-column-product-caption">
                                                            <h3 class="books__list-detail-caption-title">
                                                                <a href="/story-sells/book/<%= randomSaleBooks[i]._id %>">
                                                                    <%= randomSaleBooks[i].book_title %>
                                                                </a>
                                                            </h3>
                                                            <div class="books__list-detail-caption-review">
                                                                <div class="books__list-detail-caption-review-star"
                                                                     role="img" aria-label="Rated 5.0 out of 5">
                                                                    <span
                                                                            <% /* eslint-disable-css-propertyvalueexpected */ %>
                                                                            style="width: <%= randomSaleBooks[i].ratingWidth %>%;">
                                                                    </span>
                                                                </div>
                                                                <span>
                                                                    <%= randomSaleBooks[i].rating %>
                                                                </span>
                                                            </div>
                                                            <div class="books__list-detail-caption-author">
                                                                <% for (let j = 0; j < randomSaleBooks[i].authors.length && j < 3; j++) { %>
                                                                    <a href="/story-sells/author/<%= randomSaleBooks[i].authors[j] %>">
                                                                        <%= randomSaleBooks[i].authors[j] %>
                                                                        <% if (j < randomSaleBooks[i].authors.length - 1) { %>
                                                                            , <%= " " %>
                                                                        <% } %>
                                                                    </a>
                                                                <% } %>
                                                            </div>
                                                            <span class="books__list-detail-caption-price">
                                                                <% if (randomSaleBooks[i].sale_price) { %>
                                                                    <del aria-hidden="true">
                                                                        <span class="books__list-detail-caption-price-amount amount">
                                                                            <bdi>
                                                                                <span class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                                <%= randomSaleBooks[i].price %>
                                                                            </bdi>
                                                                        </span>
                                                                    </del>
                                                                    <ins>
                                                                        <span class="books__list-detail-caption-price-amount amount">
                                                                            <bdi>
                                                                                <span class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                                <%= randomSaleBooks[i].sale_price %>
                                                                            </bdi>
                                                                        </span>
                                                                    </ins>
                                                                <% } else { %>
                                                                    <ins>
                                                                        <span class="books__list-detail-caption-price-amount amount">
                                                                            <bdi>
                                                                                <span class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                                <%= randomSaleBooks[i].price %>
                                                                            </bdi>
                                                                        </span>
                                                                    </ins>
                                                                <% } %>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                            <% } %>
                                        </ul>
                                    </div>
                                </div>
                                <div class="books__sublist-content-trending">
                                    <div class="books__sublist-content-title">
                                        <h4>Trending Products</h4>
                                    </div>
                                    <div class="books__sublist-content-underline">
                                        <span></span>
                                    </div>
                                    <div class="books__sublist-content-column">
                                        <ul class="books__sublist-content-column-list">
                                            <% for(let i = 0; i < trendBooks.length && i < 3; i++){ %>
                                                <li class="books__sublist-content-column-list-item">
                                                    <div class="books__sublist-content-column-product">
                                                        <div class="books__sublist-content-column-product-img">
                                                            <a href="/story-sells/book/<%= trendBooks[i]._id %>"
                                                               class="books__sublist-content-column-product-img-link">
                                                                <img src="<%= trendBooks[i].cover_image %>" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="books__sublist-content-column-product-caption">
                                                            <h3 class="books__list-detail-caption-title">
                                                                <a href="/story-sells/book/<%= trendBooks[i]._id %>">
                                                                    <%= trendBooks[i].book_title %>
                                                                </a>
                                                            </h3>
                                                            <div class="books__list-detail-caption-review">
                                                                <div class="books__list-detail-caption-review-star"
                                                                     role="img" aria-label="Rated 5.0 out of 5">
                                                                    <span
                                                                            <% /* eslint-disable-css-propertyvalueexpected */ %>
                                                                            style="width: <%= trendBooks[i].ratingWidth %>%;">
                                                                    </span>
                                                                </div>
                                                                <span>
                                                                    <%= trendBooks[i].rating %>
                                                                </span>
                                                            </div>
                                                            <div class="books__list-detail-caption-author">
                                                                <% for (let j = 0; j < trendBooks[i].authors.length && j < 3; j++) { %>
                                                                    <a href="/story-sells/author/<%= trendBooks[i].authors[j] %>">
                                                                        <%= trendBooks[i].authors[j] %>
                                                                        <% if (j < trendBooks[i].authors.length - 1) { %>
                                                                            , <%= " " %>
                                                                        <% } %>
                                                                    </a>
                                                                <% } %>
                                                            </div>
                                                            <span class="books__list-detail-caption-price">
                                                                <% if (trendBooks[i].sale_price) { %>
                                                                    <del aria-hidden="true">
                                                                        <span class="books__list-detail-caption-price-amount amount">
                                                                            <bdi>
                                                                                <span class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                                <%= trendBooks[i].price %>
                                                                            </bdi>
                                                                        </span>
                                                                    </del>
                                                                    <ins>
                                                                        <span class="books__list-detail-caption-price-amount amount">
                                                                            <bdi>
                                                                                <span class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                                <%= trendBooks[i].sale_price %>
                                                                            </bdi>
                                                                        </span>
                                                                    </ins>
                                                                <% } else { %>
                                                                    <ins>
                                                                        <span class="books__list-detail-caption-price-amount amount">
                                                                            <bdi>
                                                                                <span class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                                <%= trendBooks[i].price %>
                                                                            </bdi>
                                                                        </span>
                                                                    </ins>
                                                                <% } %>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                            <% } %>
                                        </ul>
                                    </div>
                                </div>
                                <div class="books__sublist-content-recent">
                                    <div class="books__sublist-content-title">
                                        <h4>Recently Added</h4>
                                    </div>
                                    <div class="books__sublist-content-underline">
                                        <span></span>
                                    </div>
                                    <div class="books__sublist-content-column">
                                        <ul class="books__sublist-content-column-list">
                                            <% for(let i = 0; i < recentBooks.length && i < 3; i++){ %>
                                                <li class="books__sublist-content-column-list-item">
                                                    <div class="books__sublist-content-column-product">
                                                        <div class="books__sublist-content-column-product-img">
                                                            <a href="/story-sells/book/<%= recentBooks[i]._id %>"
                                                               class="books__sublist-content-column-product-img-link">
                                                                <img src="<%= recentBooks[i].cover_image %>" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="books__sublist-content-column-product-caption">
                                                            <h3 class="books__list-detail-caption-title">
                                                                <a href="/story-sells/book/<%= recentBooks[i]._id %>">
                                                                    <%= recentBooks[i].book_title %>
                                                                </a>
                                                            </h3>
                                                            <div class="books__list-detail-caption-review">
                                                                <div class="books__list-detail-caption-review-star"
                                                                     role="img" aria-label="Rated 5.0 out of 5">
                                                                    <span
                                                                            <% /* eslint-disable-css-propertyvalueexpected */ %>
                                                                            style="width: <%=
                                                                                recentBooks[i].ratingWidth %>%;">
                                                                    </span>
                                                                </div>
                                                                <span>
                                                                    <%= recentBooks[i].rating %>
                                                                </span>
                                                            </div>
                                                            <div class="books__list-detail-caption-author">
                                                                <% for (let j = 0; j < recentBooks[i].authors.length && j < 3; j++) { %>
                                                                    <a href="/story-sells/author/<%= recentBooks[i].authors[j] %>">
                                                                        <%= recentBooks[i].authors[j] %>
                                                                        <% if (j < recentBooks[i].authors.length - 1) { %>
                                                                            , <%= " " %>
                                                                        <% } %>
                                                                    </a>
                                                                <% } %>
                                                            </div>
                                                            <span class="books__list-detail-caption-price">
                                                                <% if (recentBooks[i].sale_price) { %>
                                                                    <del aria-hidden="true">
                                                                        <span class="books__list-detail-caption-price-amount amount">
                                                                            <bdi>
                                                                                <span class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                                <%= recentBooks[i].price %>
                                                                            </bdi>
                                                                        </span>
                                                                    </del>
                                                                    <ins>
                                                                        <span class="books__list-detail-caption-price-amount amount">
                                                                            <bdi>
                                                                                <span class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                                <%= recentBooks[i].sale_price %>
                                                                            </bdi>
                                                                        </span>
                                                                    </ins>
                                                                <% } else { %>
                                                                    <ins>
                                                                        <span class="books__list-detail-caption-price-amount amount">
                                                                            <bdi>
                                                                                <span class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                                <%= recentBooks[i].price %>
                                                                            </bdi>
                                                                        </span>
                                                                    </ins>
                                                                <% } %>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </li>
                                            <% } %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="email__submit">
                            <figure class="email__submit-figure">
                                <img src="img/background/background-04.jpg" alt="" class="email__submit-figure-image">
                            </figure>
                            <div class="email__submit-content">
                                <div class="email__submit-content-caption">
                                    <div class="email__submit-content-caption-title">
                                        <h4>
                                            Get 10% Off Your Order!
                                        </h4>
                                    </div>
                                    <div class="email__submit-content-caption-describe">Enter your email and
                                        receive
                                        a 10% discount on your next order!
                                    </div>
                                </div>
                                <div class="email__submit-content-input">
                                    <form action="" class="email__submit-content-input-form">
                                        <div class="email__submit-content-input-form-inner">
                                            <input type="email" placeholder="Your email address">
                                            <button type="submit" value="subscribe">
                                                Subscribe
                                                <i class="fa-solid fa-angle-right"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
<div class="quote">
    <figure class="quote__figure">
        <img src="img/background/background-05.jpg" alt="" class="quote__figure-image">
    </figure>
    <div class="quote__content">
        <div class="quote__content-slider">
            <div class="slider__list">
                <div class="slider__list-track">
                    <div class="slider__list-track-slide">
                        <div>
                            <div class="slider__list-track-slide-item">
                                <div class="slider__list-track-slide-item-inner">
                                    <div class="slider__list-track-slide-item-inner-caption">
                                        <img src="/img/customer/customer-default-avatar.png" alt="">
                                    </div>
                                    <div class="slider__list-track-slide-item-inner-content">
                                        "I am so happy to find a site where I can shop for unusual items. The
                                        packaging was phenomenal and my book arrived on time in perfect
                                        condition."
                                    </div>
                                    <div class="slider__list-track-slide-item-inner-testimonial">
                                        <div class="slider__list-track-slide-item-inner-testimonial-detail">
                                            <span class="slider__list-track-slide-item-inner-testimonial-detail-name">G.Huy</span>
                                            <span class="slider__list-track-slide-item-inner-testimonial-detail-job">Vung Tau</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    async function addToCart(bookId) {
        try {
            const response = await fetch(`/story-sells/addToCart/${bookId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            if (response.ok) {
                const data = await response.json();
                if (data.success) {

                }
            }
        } catch (error) {
            console.error(error);
        }
    }
</script>

<%- include('../Footer/footer.ejs') -%>
</body>

</html>