<section class="profile__section">
    <div class="profile__header">
        <div class="profile__header-container">
            <div class="profile__header-container-span">
                <span>Personal info</span>
            </div>
            <div class="profile__header-container-paragraph">
                <p>Info about you and your preferences across Story sells services</p>
            </div>
        </div>
    </div>
    <div class="personal__container">
        <div class="personal__container-banner">
            <div class="personal__container-banner-text">
                <div class="personal__container-banner-text-span">
                    <span>Your profile info in Story sells services</span>
                </div>
                <div class="personal__container-banner-text-paragraph">
                    <p>Personal info and options to manage it. You can make some of this info, like your contact
                        details, visible to others, so they can reach you easily. You can also see a summary of your
                        profiles.</p>
                </div>
            </div>
            <figure class="personal__container-banner-figure">
                <img src="/img/banner/profile-banner-01.png" alt="" class="personal__container-banner-figure-image">
            </figure>
        </div>
    </div>
    <div class="personal__container">
        <div class="personal__container-block">
            <div class="personal__container-block-header">
                <div class="personal__container-block-header-title">
                    <span>Basic info</span>
                </div>
                <div class="personal__container-block-header-subtitle">
                    <span>Some info may be visible to other people using Story sells services.</span>
                    <a href="" class="personal__container-block-header-subtitle-link">Learn more</a>
                </div>
            </div>
            <ul class="personal__container-block-list">
                <li class="personal__container-block-list-item">
                    <div class="personal__container-block-label">
                        <span>Profile picture</span>
                    </div>
                    <div class="personal__container-block-information">
                        <span class="personal__container-block-information-describe">
                            A profile picture helps personalize your account
                        </span>
                    </div>
                    <div class="personal__container-block-avatar">
                        <figure class="personal__container-block-avatar-figure">
                            <img src="<%= customerData.customer_avatar %>" alt=""
                                 class="personal__container-block-avatar-figure-image">
                        </figure>
                    </div>
                </li>
                <li class="personal__container-block-list-item">
                    <div class="personal__container-block-label">
                        <span>Name</span>
                    </div>
                    <div class="personal__container-block-information">
                        <span class="personal__container-block-information-span">
                            <%= customerData.customer_firstName + " " + customerData.customer_lastName %>
                        </span>
                    </div>
                    <button type="button" class="personal__container-block-button">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </li>
                <li class="personal__container-block-list-item">
                    <div class="personal__container-block-label">
                        <span>Birthday</span>
                    </div>
                    <div class="personal__container-block-information">
                        <span class="personal__container-block-information-span">
                            <% if(customerData.customer_birthday) { %>
                                <%= customerData.customer_birthday %>
                            <% } else { %>
                                <span></span>
                            <% } %>
                        </span>
                    </div>
                    <button type="button" class="personal__container-block-button">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </li>
                <li class="personal__container-block-list-item">
                    <div class="personal__container-block-label">
                        <span>Gender</span>
                    </div>
                    <div class="personal__container-block-information">
                        <% if(customerData.customer_gender) { %>
                            <%= customerData.customer_gender %>
                        <% } else { %>
                            <span></span>
                        <% } %>
                        </span>
                    </div>
                    <button type="button" class="personal__container-block-button">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </li>
            </ul>
        </div>
        <div class="personal__container-block">
            <div class="personal__container-block-header">
                <div class="personal__container-block-header-title">
                    <span>Contact info</span>
                </div>
            </div>
            <ul class="personal__container-block-list">
                <li class="personal__container-block-list-item">
                    <div class="personal__container-block-label">
                        <span>Email</span>
                    </div>
                    <div class="personal__container-block-information">
                        <span class="personal__container-block-information-span">
                            <%= customerData.customer_email %>
                        </span>
                    </div>
                    <button type="button" class="personal__container-block-button">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </li>
                <li class="personal__container-block-list-item">
                    <div class="personal__container-block-label">
                        <span>Phone</span>
                    </div>
                    <div class="personal__container-block-information">
                        <span class="personal__container-block-information-span">
                            <% if(customerData.customer_phoneNo) { %>
                                <%= customerData.customer_phoneNo %>
                            <% } else { %>
                                <span></span>
                            <% } %>
                        </span>
                    </div>
                    <button type="button" class="personal__container-block-button">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </li>
            </ul>
        </div>
        <div class="personal__container-block">
            <div class="personal__container-block-header">
                <div class="personal__container-block-header-title">
                    <span>Addresses</span>
                </div>
                <div class="personal__container-block-header-subtitle">
                    <div>
                        <p>
                            Your home and work addresses are used to personalize your experiences across Story sells
                            products, and for more relevant ads. Only you can see these addresses.
                        </p>
                    </div>
                    <br>
                    <span>
                        You can also add addresses to your Story sells Profile. You can choose if others see your profile addresses.
                        <a href="" class="personal__container-block-header-subtitle-link">Learn more</a>
                    </span>
                </div>
            </div>
            <ul class="personal__container-block-list">
                <li class="personal__container-block-list-item">
                    <div class="personal__container-block-label">
                        <span>Street</span>
                    </div>
                    <div class="personal__container-block-information">
                        <span class="personal__container-block-information-span">
                            <% if(customerData.customer_address.street) { %>
                                <%= customerData.customer_address.street %>
                            <% } else { %>
                                <span></span>
                            <% } %>
                        </span>
                    </div>
                    <button type="button" class="personal__container-block-button">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </li>
                <li class="personal__container-block-list-item">
                    <div class="personal__container-block-label">
                        <span>City</span>
                    </div>
                    <div class="personal__container-block-information">
                        <span class="personal__container-block-information-span">
                            <% if(customerData.customer_address.city) { %>
                                <%= customerData.customer_address.city %>
                            <% } else { %>
                                <span></span>
                            <% } %>
                        </span>
                    </div>
                    <button type="button" class="personal__container-block-button">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </li>
                <li class="personal__container-block-list-item">
                    <div class="personal__container-block-label">
                        <span>Country</span>
                    </div>
                    <div class="personal__container-block-information">
                        <span class="personal__container-block-information-span">
                            <% if(customerData.customer_address.country) { %>
                                <%= customerData.customer_address.country %>
                            <% } else { %>
                                <span></span>
                            <% } %>
                        </span>
                    </div>
                    <button type="button" class="personal__container-block-button">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="personal__container">
        <div class="personal__container-banner">
            <div class="personal__container-banner-text">
                <div class="personal__container-banner-text-span">
                    <span>Other info and preferences for Story sells services</span>
                </div>
                <div class="personal__container-banner-text-paragraph">
                    <p>Ways to verify it’s you and settings for the web.</p>
                </div>
            </div>
            <figure class="personal__container-banner-figure">
                <img src="/img/Banner/profile-banner-02.png" alt="" class="personal__container-banner-figure-image">
            </figure>
        </div>
    </div>
    <div class="personal__container" style="flex-direction: row">
        <div class="personal__container-half-block">
            <div class="personal__container-block-header">
                <div class="personal__container-block-header-title">
                    <span>Password</span>
                </div>
                <div class="personal__container-block-header-subtitle">
                    <span>A secure password helps protect your Story sells Account.</span>
                </div>
            </div>
            <ul class="personal__container-block-list">
                <li class="personal__container-block-list-item">
                    <div class="personal__container-block-information" style="min-width: 200px">
                        <span class="personal__container-block-information-span">
                            **********
                        </span>
                        <span class="personal__container-block-information-describe">
                            Last changed July 7
                        </span>
                    </div>
                    <button type="button" class="personal__container-block-button">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </li>
            </ul>
        </div>
        <div class="personal__container-half-block">
            <div class="personal__container-block-header">
                <div class="personal__container-block-header-title">
                    <span>General preferences for the web</span>
                </div>
                <div class="personal__container-block-header-subtitle">
                    <span>Manage settings for Google services on the web</span>
                </div>
            </div>
            <ul class="personal__container-block-list">
                <li class="personal__container-block-list-item">
                    <div class="personal__container-block-icon">
                        <i class="fa-solid fa-globe"></i>
                    </div>
                    <div class="personal__container-block-information" style="min-width: 200px">
                        <div class="personal__container-block-information-span">
                            <span>Language</span>
                        </div>
                        <span class="personal__container-block-information-describe">
                            English (United Kingdom)
                        </span>
                    </div>
                    <button type="button" class="personal__container-block-button">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </li>
                <li class="personal__container-block-list-item">
                    <div class="personal__container-block-icon">
                        <i class="fa-solid fa-circle-half-stroke"></i>
                    </div>
                    <div class="personal__container-block-information" style="min-width: 200px">
                        <div class="personal__container-block-information-span">
                            <span>Appearance</span>
                        </div>
                        <span class="personal__container-block-information-describe">
                            Light mode
                        </span>
                    </div>
                    <button type="button" class="personal__container-block-button">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </li>
                <li class="personal__container-block-list-item">
                    <div class="personal__container-block-icon">
                        <i class="fa-solid fa-person"></i>
                    </div>
                    <div class="personal__container-block-information" style="min-width: 200px">
                        <div class="personal__container-block-information-span">
                            <span>Accessibility</span>
                        </div>
                        <span class="personal__container-block-information-describe">
                            High-contrast colors OFF
                        </span>
                    </div>
                    <button type="button" class="personal__container-block-button">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>

</section>