<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StorySells: Where Imagination Comes to Life!</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/Icon/Ico.png">
    <script src="https://kit.fontawesome.com/d8ded057c6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <%- include('partials/header-02.ejs', {text: 'none' , display: 'none' }) -%>

        <div class="book__subnav">
            <section class="book__subnav-content">
                <div class="book__subnav-content-link">
                    <div class="header__shop-content-subnav" style="justify-content: start;">
                        <a href="/story-sells" class="header__shop-content-subnav-home">Home</a>
                        <i class="fa-solid fa-arrow-right"></i>
                        <%= bookData.book_title%>
                    </div>
                </div>
            </section>
        </div>
        <div class="container" style="margin-top: 25px;">
            <div class="container__full container__book">
                <div id="primary" class="book__area">
                    <main id="main" class="main__book" role="main">
                        <div class="main__book-product">
                            <div class="main__book-product-wrapper">
                                <div class="main__book-product-wrapper-horizontal">
                                    <figure class="main__book-product-gallary">
                                        <div class="main__book-product-gallary-content">
                                            <a href="" class="main__book-product-gallary-content-link">
                                                <img src="/img/Book-Cover/For-sale/<%= bookData.cover_image %>.png" alt=""
                                                    class="main__books-product-gallary-img">
                                            </a>
                                        </div>
                                    </figure>
                                </div>
                                <div class="main__book-product-wrapper-summary">
                                    <div class="main__book-product-wrapper-summary-top">
                                        <span class="main__book-product-wrapper-summary-status">
                                            In Stock
                                        </span>
                                    </div>
                                    <h1 class="main__book-product-wrapper-summary-title">
                                        <%= bookData.book_title %>
                                    </h1>
                                    <div class="main__book-product-wrapper-summary-subtitle">
                                        <div class="main__book-product-wrapper-summary-subtitle-author">
                                            Author:
                                            <a href="" class="main__book-product-wrapper-summary-subtitle-author-link">
                                                <%= bookData.author_name %>
                                            </a>
                                        </div>
                                        <div class="main__book-product-wrapper-summary-subtitle-review">
                                            <div class="books__list-detail-caption-review-star" role="img"
                                                aria-label="Rated 5.0 out of 5">
                                                <span <% /* eslint-disable css-propertyvalueexpected */ %> style="width: <%= bookData.ratingWidth %>%;">>
                                                </span>
                                            </div>
                                            <span><%= bookData.rating %></span>
                                        </div>
                                        <span class="main__book-product-wrapper-summary-subtitle-sku">
                                            SKU:
                                            <span class="sku"></span>
                                        </span>
                                    </div>
                                    <span class="books__list-detail-caption-price" style="font-size: 40px;">
                                        <% if (bookData.sale_price) { %>
                                            <del aria-hidden="true">
                                                <span class="books__list-detail-caption-price-amount amount">
                                                    <bdi>
                                                        <span class="books__list-detail-caption-price-amount-symbol">$</span>
                                                        <%= bookData.price %>
                                                    </bdi>
                                                </span>
                                            </del>
                                            <ins>
                                                <span class="books__list-detail-caption-price-amount amount">
                                                    <bdi>
                                                        <span class="books__list-detail-caption-price-amount-symbol">$</span>
                                                        <%= bookData.sale_price %>
                                                    </bdi>
                                                </span>
                                            </ins>
                                        <% } else { %>
                                            <ins>
                                                <span class="books__list-detail-caption-price-amount amount">
                                                    <bdi>
                                                        <span class="books__list-detail-caption-price-amount-symbol">$</span>
                                                        <%= bookData.price %>
                                                    </bdi>
                                                </span>
                                            </ins>
                                        <% } %>
                                    </span>
                                    <div class="main__book-product-wrapper-summary-description">
                                        <%= bookData.book_description %>
                                    </div>
                                    <form action="" class="main__book-product-wrapper-summary-form">
                                        <div class="main__book-product-form-quantity">
                                            <label for=""
                                                class="main__book-product-form-quantity-label">Quantity</label>
                                            <div class="main__book-product-form-quantity-added">
                                                <button class="main__book-product-form-quantity-added-button minus">
                                                    <i class="fa-solid fa-minus"></i>
                                                </button>
                                                <label for="quantity" style="display: none;">Quantity:</label>
                                                <input type="number" id="quantity" step="1" min="1" max="999"
                                                    name="quantity" value="1" inputmode="numeric"
                                                    class="main__book-product-form-quantity-added-input" placeholder="">
                                                <button class="main__book-product-form-quantity-added-button plus">
                                                    <i class="fa-solid fa-plus"></i>
                                                </button>
                                            </div>
                                            <script>
                                                // Get the input and buttons
                                                const input = document.getElementById("quantity");
                                                const minusButton = document.querySelector(".minus");
                                                const plusButton = document.querySelector(".plus");

                                                // Add click event listeners to the buttons
                                                minusButton.addEventListener("click", (event) => {
                                                    event.preventDefault();
                                                    if (input.value > 1) {
                                                        input.value = parseInt(input.value) - 1;
                                                    }
                                                });

                                                plusButton.addEventListener("click", (event) => {
                                                    event.preventDefault();
                                                    if (input.value < 999) {
                                                        input.value = parseInt(input.value) + 1;
                                                    }
                                                });

                                            </script>
                                        </div>
                                        <button class="main__book-product-form-buy">
                                            <i class="fa-solid fa-cart-arrow-down"></i>
                                            Add to cart
                                        </button>
                                        <button class="main__book-product-form-wish">
                                            <i class="fa-regular fa-heart"></i>
                                            Add to wishlist
                                        </button>
                                    </form>
                                    <div class="main__book-product-wrapper-summary-meta">
                                        <span class="main__book-product-wrapper-summary-meta-posted">
                                            Categories:
                                            <a href="" rel="tag">Contemporary</a>
                                            ,
                                            <a href="" rel="tag">Cultural</a>
                                        </span>
                                        <span class="main__book-product-wrapper-summary-meta-tagged">
                                            Tags:
                                            <a href="" rel="tag">Books</a>
                                            ,
                                            <a href="" rel="tag">Fiction</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="main__book-product-about">
                                <ul class="main__book-product-about-list">
                                    <li
                                        class="main__book-product-about-list-item main__book-product-about-list-item-active">
                                        <a href="#" data-target="description"
                                            class="main__book-product-about-list-link">
                                            Description
                                        </a>
                                    </li>
                                    <li class="main__book-product-about-list-item">
                                        <a href="#" data-target="reviews" class="main__book-product-about-list-link">
                                            Reviews
                                            <span class="number__reviews">(5)</span>
                                        </a>
                                    </li>
                                    <li class="main__book-product-about-list-item">
                                        <a href="#" data-target="vendor" class="main__book-product-about-list-link">
                                            Vendor Info
                                        </a>
                                    </li>
                                </ul>
                                <div class="main__book-product-about-content">
                                    <div id="description"
                                        class="main__book-product-about-content-margin main__book-product-about-content-description active">
                                        <p>
                                            <%= bookData.book_description %>
                                        </p>
                                    </div>
                                    <div id="reviews"
                                        class="main__book-product-about-content-margin main__book-product-about-content-reviews">
                                        <ol class="main__book-product-about-content-reviews-list">
                                            <li class="main__book-product-about-content-reviews-list-item">
                                                <div class="main__book-product-about-content-reviews-comment">
                                                    <img src="/img/Avatar-Img/Avatar.jpeg" alt=""
                                                        class="main__book-product-about-content-reviews-avatar">
                                                    <div class="main__book-product-wrapper-summary-subtitle-review">
                                                        <div class="books__list-detail-caption-review-star" role="img"
                                                            aria-label="Rated 5.0 out of 5">
                                                            <span style="width: 70%;">
                                                            </span>
                                                        </div>
                                                        <div class="main__book-product-about-content-reviews-meta">
                                                            <Strong
                                                                class="main__book-product-about-content-reviews-meta-author">Gia
                                                                Huy</Strong>
                                                            <time class="main__book-product-about-content-reviews-date">
                                                                February 20, 2023
                                                            </time>
                                                        </div>
                                                        <p>I am 6 feet tall and 220 lbs. This shirt fit me perfectly in
                                                            the
                                                            chest and shoulders. My only complaint is that it is
                                                            so long! I like to wear polo shirts untucked. This shirt
                                                            goes
                                                            completely past my rear end. If I wore it with
                                                            ordinary shorts, you probably wouldnt be able to see the
                                                            shorts
                                                            at all – completely hidden by the shirt. It needs to
                                                            be 4 to 5 inches shorter in terms of length to suit me. I
                                                            have
                                                            many RL polo shirts, and this one is by far the
                                                            longest. I dont understand why.</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="main__book-product-about-content-reviews-list-item">
                                                <div class="main__book-product-about-content-reviews-comment">
                                                    <img src="/img/Avatar-Img/Avatar.jpeg" alt=""
                                                        class="main__book-product-about-content-reviews-avatar">
                                                    <div class="main__book-product-wrapper-summary-subtitle-review">
                                                        <div class="books__list-detail-caption-review-star" role="img"
                                                            aria-label="Rated 5.0 out of 5">
                                                            <span style="width: 70%;">
                                                            </span>
                                                        </div>
                                                        <div class="main__book-product-about-content-reviews-meta">
                                                            <Strong
                                                                class="main__book-product-about-content-reviews-meta-author">Gia
                                                                Huy</Strong>
                                                            <time class="main__book-product-about-content-reviews-date">
                                                                February 20, 2023
                                                            </time>
                                                        </div>
                                                        <p>I am 6 feet tall and 220 lbs. This shirt fit me perfectly in
                                                            the
                                                            chest and shoulders. My only complaint is that it is
                                                            so long! I like to wear polo shirts untucked. This shirt
                                                            goes
                                                            completely past my rear end. If I wore it with
                                                            ordinary shorts, you probably wouldnt be able to see the
                                                            shorts
                                                            at all – completely hidden by the shirt. It needs to
                                                            be 4 to 5 inches shorter in terms of length to suit me. I
                                                            have
                                                            many RL polo shirts, and this one is by far the
                                                            longest. I dont understand why.</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="main__book-product-about-content-reviews-list-item">
                                                <div class="main__book-product-about-content-reviews-comment">
                                                    <img src="/img/Avatar-Img/Avatar.jpeg" alt=""
                                                        class="main__book-product-about-content-reviews-avatar">
                                                    <div class="main__book-product-wrapper-summary-subtitle-review">
                                                        <div class="books__list-detail-caption-review-star" role="img"
                                                            aria-label="Rated 5.0 out of 5">
                                                            <span style="width: 70%;">
                                                            </span>
                                                        </div>
                                                        <div class="main__book-product-about-content-reviews-meta">
                                                            <Strong
                                                                class="main__book-product-about-content-reviews-meta-author">Gia
                                                                Huy</Strong>
                                                            <time class="main__book-product-about-content-reviews-date">
                                                                February 20, 2023
                                                            </time>
                                                        </div>
                                                        <p>I am 6 feet tall and 220 lbs. This shirt fit me perfectly in
                                                            the
                                                            chest and shoulders. My only complaint is that it is
                                                            so long! I like to wear polo shirts untucked. This shirt
                                                            goes
                                                            completely past my rear end. If I wore it with
                                                            ordinary shorts, you probably wouldnt be able to see the
                                                            shorts
                                                            at all – completely hidden by the shirt. It needs to
                                                            be 4 to 5 inches shorter in terms of length to suit me. I
                                                            have
                                                            many RL polo shirts, and this one is by far the
                                                            longest. I dont understand why.</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ol>
                                    </div>
                                    <div id="vendor"
                                        class="main__book-product-about-content-margin main__book-product-about-content-vendor">
                                        <ul class="main__book-product-about-content-vendor-list">
                                            <li class="main__book-product-about-content-vendor-list-item">
                                                <strong>Vendor: </strong>
                                                <span><%= bookData.publisher_name %></span>
                                            </li>
                                            <% if(bookData.publisher_location) {%>
                                            <li class="main__book-product-about-content-vendor-list-item">
                                                <strong>Address: </strong>
                                                <span><%= bookData.publisher_location %></span>
                                            </li>
                                            <% } %>
                                            <% if(bookData.publisher_contact_information) {%>
                                            <li class="main__book-product-about-content-vendor-list-item">
                                                <strong>Contact Information: </strong>
                                                <span><%= bookData.publisher_contact_information %></span>
                                            </li>
                                            <% } %>
                                        </ul>
                                    </div>
                                </div>
                                <script>
                                    const listItems = document.querySelectorAll('.main__book-product-about-list-item');
                                    const contentItems = document.querySelectorAll('.main__book-product-about-content > div');

                                    listItems.forEach((listItem) => {
                                        const link = listItem.querySelector('a');
                                        link.addEventListener('click', (event) => {
                                            event.preventDefault();
                                            const target = link.getAttribute('data-target');
                                            contentItems.forEach((contentItem) => {
                                                contentItem.classList.remove('active');
                                                if (contentItem.classList.contains(`main__book-product-about-content-${target}`)) {
                                                    contentItem.classList.add('active');
                                                }
                                            });
                                            listItems.forEach((item) => {
                                                item.classList.remove('main__book-product-about-list-item-active');
                                            });
                                            listItem.classList.add('main__book-product-about-list-item-active');
                                        });
                                    });
                                </script>
                            </div>
                            <section class="main__book-product-related">
                                <h2 class="main__book-product-related-title">Related products</h2>
                                <ul class="main__book-product-related-list">
                                    <li class="main__book-product-related-list-item">
                                        <div class="books__list-detail">
                                            <div class="books__list-detail-transition">
                                                <div class="books__list-image">
                                                    <img src="/img/Book-Cover/Book.png" alt=""
                                                        class="books__list-image-bookcover">
                                                </div>
                                                <div class="books__list-action">
                                                    <div class="books__list-action-vertical">
                                                        <button class="books__list-action-button">
                                                            Browse wishlist
                                                            <i class="fa-regular fa-heart"></i>
                                                        </button>
                                                        <button class="books__list-action-button">
                                                            <i class="fa-regular fa-eye"></i>
                                                        </button>
                                                        <div class="">
                                                            <a href="" class="books__list-action-button">
                                                                <i class="fa-solid fa-cart-shopping"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="books__list-detail-caption">
                                                <h3 class="books__list-detail-caption-title">
                                                    <a href="">Lorem Ipsum</a>
                                                </h3>
                                                <div class="books__list-detail-caption-review">
                                                    <div class="books__list-detail-caption-review-star" role="img"
                                                        aria-label="Rated 5.0 out of 5">
                                                        <span style="width: 70%;">
                                                        </span>
                                                    </div>
                                                    <span>5</span>
                                                </div>
                                                <div class="books__list-detail-caption-author">
                                                    <a href="">Paulo Coelko</a>
                                                </div>
                                                <span class="books__list-detail-caption-price">
                                                    <del aria-hidden="true">
                                                        <span class="books__list-detail-caption-price-amount amount">
                                                            <bdi>
                                                                <span
                                                                    class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                86.99
                                                            </bdi>
                                                        </span>
                                                    </del>
                                                    <ins>
                                                        <span class="books__list-detail-caption-price-amount amount">
                                                            <bdi>
                                                                <span
                                                                    class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                72.99
                                                            </bdi>
                                                        </span>
                                                    </ins>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="main__book-product-related-list-item">
                                        <div class="books__list-detail">
                                            <div class="books__list-detail-transition">
                                                <div class="books__list-image">
                                                    <img src="/img/Book-Cover/Book.png" alt=""
                                                        class="books__list-image-bookcover">
                                                </div>
                                                <div class="books__list-action">
                                                    <div class="books__list-action-vertical">
                                                        <button class="books__list-action-button">
                                                            Browse wishlist
                                                            <i class="fa-regular fa-heart"></i>
                                                        </button>
                                                        <button class="books__list-action-button">
                                                            <i class="fa-regular fa-eye"></i>
                                                        </button>
                                                        <div class="">
                                                            <a href="" class="books__list-action-button">
                                                                <i class="fa-solid fa-cart-shopping"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="books__list-detail-caption">
                                                <h3 class="books__list-detail-caption-title">
                                                    <a href="">Lorem Ipsum</a>
                                                </h3>
                                                <div class="books__list-detail-caption-review">
                                                    <div class="books__list-detail-caption-review-star" role="img"
                                                        aria-label="Rated 5.0 out of 5">
                                                        <span style="width: 70%;">
                                                        </span>
                                                    </div>
                                                    <span>5</span>
                                                </div>
                                                <div class="books__list-detail-caption-author">
                                                    <a href="">Paulo Coelko</a>
                                                </div>
                                                <span class="books__list-detail-caption-price">
                                                    <del aria-hidden="true">
                                                        <span class="books__list-detail-caption-price-amount amount">
                                                            <bdi>
                                                                <span
                                                                    class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                86.99
                                                            </bdi>
                                                        </span>
                                                    </del>
                                                    <ins>
                                                        <span class="books__list-detail-caption-price-amount amount">
                                                            <bdi>
                                                                <span
                                                                    class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                72.99
                                                            </bdi>
                                                        </span>
                                                    </ins>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="main__book-product-related-list-item">
                                        <div class="books__list-detail">
                                            <div class="books__list-detail-transition">
                                                <div class="books__list-image">
                                                    <img src="/img/Book-Cover/Book.png" alt=""
                                                        class="books__list-image-bookcover">
                                                </div>
                                                <div class="books__list-action">
                                                    <div class="books__list-action-vertical">
                                                        <button class="books__list-action-button">
                                                            Browse wishlist
                                                            <i class="fa-regular fa-heart"></i>
                                                        </button>
                                                        <button class="books__list-action-button">
                                                            <i class="fa-regular fa-eye"></i>
                                                        </button>
                                                        <div class="">
                                                            <a href="" class="books__list-action-button">
                                                                <i class="fa-solid fa-cart-shopping"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="books__list-detail-caption">
                                                <h3 class="books__list-detail-caption-title">
                                                    <a href="">Lorem Ipsum</a>
                                                </h3>
                                                <div class="books__list-detail-caption-review">
                                                    <div class="books__list-detail-caption-review-star" role="img"
                                                        aria-label="Rated 5.0 out of 5">
                                                        <span style="width: 70%;">
                                                        </span>
                                                    </div>
                                                    <span>5</span>
                                                </div>
                                                <div class="books__list-detail-caption-author">
                                                    <a href="">Paulo Coelko</a>
                                                </div>
                                                <span class="books__list-detail-caption-price">
                                                    <del aria-hidden="true">
                                                        <span class="books__list-detail-caption-price-amount amount">
                                                            <bdi>
                                                                <span
                                                                    class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                86.99
                                                            </bdi>
                                                        </span>
                                                    </del>
                                                    <ins>
                                                        <span class="books__list-detail-caption-price-amount amount">
                                                            <bdi>
                                                                <span
                                                                    class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                72.99
                                                            </bdi>
                                                        </span>
                                                    </ins>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="main__book-product-related-list-item">
                                        <div class="books__list-detail">
                                            <div class="books__list-detail-transition">
                                                <div class="books__list-image">
                                                    <img src="/img/Book-Cover/Book.png" alt=""
                                                        class="books__list-image-bookcover">
                                                </div>
                                                <div class="books__list-action">
                                                    <div class="books__list-action-vertical">
                                                        <button class="books__list-action-button">
                                                            Browse wishlist
                                                            <i class="fa-regular fa-heart"></i>
                                                        </button>
                                                        <button class="books__list-action-button">
                                                            <i class="fa-regular fa-eye"></i>
                                                        </button>
                                                        <div class="">
                                                            <a href="" class="books__list-action-button">
                                                                <i class="fa-solid fa-cart-shopping"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="books__list-detail-caption">
                                                <h3 class="books__list-detail-caption-title">
                                                    <a href="">Lorem Ipsum</a>
                                                </h3>
                                                <div class="books__list-detail-caption-review">
                                                    <div class="books__list-detail-caption-review-star" role="img"
                                                        aria-label="Rated 5.0 out of 5">
                                                        <span style="width: 70%;">
                                                        </span>
                                                    </div>
                                                    <span>5</span>
                                                </div>
                                                <div class="books__list-detail-caption-author">
                                                    <a href="">Paulo Coelko</a>
                                                </div>
                                                <span class="books__list-detail-caption-price">
                                                    <del aria-hidden="true">
                                                        <span class="books__list-detail-caption-price-amount amount">
                                                            <bdi>
                                                                <span
                                                                    class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                86.99
                                                            </bdi>
                                                        </span>
                                                    </del>
                                                    <ins>
                                                        <span class="books__list-detail-caption-price-amount amount">
                                                            <bdi>
                                                                <span
                                                                    class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                72.99
                                                            </bdi>
                                                        </span>
                                                    </ins>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="main__book-product-related-list-item">
                                        <div class="books__list-detail">
                                            <div class="books__list-detail-transition">
                                                <div class="books__list-image">
                                                    <img src="/img/Book-Cover/Book.png" alt=""
                                                        class="books__list-image-bookcover">
                                                </div>
                                                <div class="books__list-action">
                                                    <div class="books__list-action-vertical">
                                                        <button class="books__list-action-button">
                                                            Browse wishlist
                                                            <i class="fa-regular fa-heart"></i>
                                                        </button>
                                                        <button class="books__list-action-button">
                                                            <i class="fa-regular fa-eye"></i>
                                                        </button>
                                                        <div class="">
                                                            <a href="" class="books__list-action-button">
                                                                <i class="fa-solid fa-cart-shopping"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="books__list-detail-caption">
                                                <h3 class="books__list-detail-caption-title">
                                                    <a href="">Lorem Ipsum</a>
                                                </h3>
                                                <div class="books__list-detail-caption-review">
                                                    <div class="books__list-detail-caption-review-star" role="img"
                                                        aria-label="Rated 5.0 out of 5">
                                                        <span style="width: 70%;">
                                                        </span>
                                                    </div>
                                                    <span>5</span>
                                                </div>
                                                <div class="books__list-detail-caption-author">
                                                    <a href="">Paulo Coelko</a>
                                                </div>
                                                <span class="books__list-detail-caption-price">
                                                    <del aria-hidden="true">
                                                        <span class="books__list-detail-caption-price-amount amount">
                                                            <bdi>
                                                                <span
                                                                    class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                86.99
                                                            </bdi>
                                                        </span>
                                                    </del>
                                                    <ins>
                                                        <span class="books__list-detail-caption-price-amount amount">
                                                            <bdi>
                                                                <span
                                                                    class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                72.99
                                                            </bdi>
                                                        </span>
                                                    </ins>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="main__book-product-related-list-item">
                                        <div class="books__list-detail">
                                            <div class="books__list-detail-transition">
                                                <div class="books__list-image">
                                                    <img src="/img/Book-Cover/Book.png" alt=""
                                                        class="books__list-image-bookcover">
                                                </div>
                                                <div class="books__list-action">
                                                    <div class="books__list-action-vertical">
                                                        <button class="books__list-action-button">
                                                            Browse wishlist
                                                            <i class="fa-regular fa-heart"></i>
                                                        </button>
                                                        <button class="books__list-action-button">
                                                            <i class="fa-regular fa-eye"></i>
                                                        </button>
                                                        <div class="">
                                                            <a href="" class="books__list-action-button">
                                                                <i class="fa-solid fa-cart-shopping"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="books__list-detail-caption">
                                                <h3 class="books__list-detail-caption-title">
                                                    <a href="">Lorem Ipsum</a>
                                                </h3>
                                                <div class="books__list-detail-caption-review">
                                                    <div class="books__list-detail-caption-review-star" role="img"
                                                        aria-label="Rated 5.0 out of 5">
                                                        <span style="width: 70%;">
                                                        </span>
                                                    </div>
                                                    <span>5</span>
                                                </div>
                                                <div class="books__list-detail-caption-author">
                                                    <a href="">Paulo Coelko</a>
                                                </div>
                                                <span class="books__list-detail-caption-price">
                                                    <del aria-hidden="true">
                                                        <span class="books__list-detail-caption-price-amount amount">
                                                            <bdi>
                                                                <span
                                                                    class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                86.99
                                                            </bdi>
                                                        </span>
                                                    </del>
                                                    <ins>
                                                        <span class="books__list-detail-caption-price-amount amount">
                                                            <bdi>
                                                                <span
                                                                    class="books__list-detail-caption-price-amount-symbol">$</span>
                                                                72.99
                                                            </bdi>
                                                        </span>
                                                    </ins>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </section>
                        </div>
                    </main>
                </div>
            </div>
        </div>

        <%- include('partials/footer.ejs') -%>
</body>

</html>