<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Account Overview - StorySells.com</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/Icon/Ico.png">
    <script src="https://kit.fontawesome.com/d8ded057c6.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
</head>

<body>
<header class="header">
    <nav class="header__nav"
         style="max-width: 1920px; min-height: 80px; padding: 0 24px; border-bottom: 2px solid var(--color-border)">
        <div class="header__nav-logo">
            <a href="/story-sells" class="header__nav-logo-link">
                <img src="/img/Icon/Website-logo.svg" alt="" class="header__nav-logo-img">
            </a>
        </div>
        <div class="header__search-bar">
            <form action="/story-sells/search" method="post" class="header__search-bar-form">
                <div class="header__search-find">
                    <input type="text" class="header__search-find-input" name="searchTerm"
                           placeholder="Search products..."
                           onfocus="changeInputBorderStyle(true)" onblur="changeInputBorderStyle(false)">
                    <button type="submit" class="header__search-find-button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="header__nav-user">
            <ul class="header__nav-user-list">
                <li class="header__nav-user-list-item">
                    <a href="/story-sells/user" class="header__nav-user-link">
                        <div>
                            <button type="button" class="header__nav-user-button">
                                <span class="sr-only">Open main menu</span>
                                <img src="<%= customerData.customer_avatar %>" alt="" loading="lazy"
                                     class="header__nav-user-avatar">
                                <span class="header__nav-user-name">
                                    <%= customerData.customer_lname %>
                                </span>
                                <% if (customerData.customer_role === "admin" || customerData.customer_role === "supplier") { %>
                                    <span class="header__nav-user-role">
                                        <%= customerData.customer_role %>
                                    </span>
                                <% } %>
                            </button>
                        </div>
                    </a>
                </li>
                <li class="header__nav-user-list-item">
                    <a href="/wishlist" class="header__nav-user-link">
                        <i class="fa-regular fa-heart"></i>
                    </a>
                </li>
                <li class="header__nav-user-list-item">
                    <a href="/story-sells/cart" class="header__nav-user-link">
                        <i class="fa-solid fa-basket-shopping"></i>
                        <% if (totalQuantity > 99) { %>
                            <span class="header__nav-user-list-cart-total header__nav-user-list-cart-total--exceeded">99+</span>
                        <% } else { %>
                            <span class="header__nav-user-list-cart-total"><%= totalQuantity %></span>
                        <% } %>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container" style="margin: 0; display: flex; min-height: 100vh">
    <aside id="secondary" class="aside__area"
           style="height: inherit; padding: 24px; margin: 0; border-right: 2px solid var(--color-border)">
        <div class="aside__area-customer">
            <div class="aside__area-customer-avatar">
                <img src="<%= customerData.customer_avatar %>" alt="">
            </div>
            <div class="aside__area-customer-info">
                <span>
                    Account of
                </span>
                <h4 class="aside__area-customer-info-name">
                    <%= customerData.customer_fname + " " + customerData.customer_lname %>
                </h4>
            </div>
        </div>
        <div class="aside__area-options">
            <div>
                <h3 class="section__nav-title">Homes</h3>
                <ul class="aside__area-options-list">
                    <li class="aside__area-options-list-item aside__area-options-list-item-active">
                        <a href="#" class="aside__area-options-list-link">
                            <div class="aside__area-options-icon">
                                <i class="fa-regular fa-user"></i>
                            </div>
                            <div class="aside__area-options-function">
                                <span>Account Information</span>
                            </div>
                        </a>
                    </li>
                    <li class="aside__area-options-list-item">
                        <a href="#" class="aside__area-options-list-link">
                            <div class="aside__area-options-icon">
                                <i class="fa-regular fa-bell"></i>
                            </div>
                            <div class="aside__area-options-function">
                                <span>Notification</span>
                            </div>
                        </a>
                    </li>
                    <li class="aside__area-options-list-item">
                        <a href="#" class="aside__area-options-list-link">
                            <div class="aside__area-options-icon">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <div class="aside__area-options-function">
                                <span>Favorite Book</span>
                            </div>
                        </a>
                    </li>
                    <li class="aside__area-options-list-item">
                        <a href="#" class="aside__area-options-list-link">
                            <div class="aside__area-options-icon">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <div class="aside__area-options-function">
                                <span>Address Number</span>
                            </div>
                        </a>
                    </li>
                    <li class="aside__area-options-list-item">
                        <a href="#" class="aside__area-options-list-link">
                            <div class="aside__area-options-icon">
                                <i class="fa-regular fa-credit-card"></i>
                            </div>
                            <div class="aside__area-options-function">
                                <span>Billing Information</span>
                            </div>
                        </a>
                    </li>
                    <li class="aside__area-options-list-item">
                        <a href="#" class="aside__area-options-list-link">
                            <div class="aside__area-options-icon">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </div>
                            <div class="aside__area-options-function">
                                <span>Order Management</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="section__nav-title">Admin</h3>
                <ul class="aside__area-options-list">
                    <li class="aside__area-options-list-item">
                        <a href="#" class="aside__area-options-list-link">
                            <div class="aside__area-options-icon">
                                <i class="fa-solid fa-book"></i>
                            </div>
                            <div class="aside__area-options-function">
                                <span>Book List</span>
                            </div>
                        </a>
                    </li>
                    <li class="aside__area-options-list-item">
                        <a href="#" class="aside__area-options-list-link">
                            <div class="aside__area-options-icon">
                                <i class="fa-solid fa-upload"></i>
                            </div>
                            <div class="aside__area-options-function">
                                <span>Upload Books</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
    <div class="customer__container">
        <section class="customer__information" id="accountInformation">
            <h4 class="section-title">Account Information</h4>
            <% if (updateSuccess) { %>
                <div class="success-message" style="margin-bottom: -4px; z-index: 999">
                    Information updated successfully!
                </div>
                <script>
                    const successMessage = document.querySelector('.success-message');

                    setTimeout(() => {
                        successMessage.style.display = 'none';
                    }, 10000);
                </script>
            <% } %>
            <div class="customer__information-content">
                <div class="customer__information-content-left">
                    <span class="section-subtitle">
                        Account Information
                    </span>
                    <form action="/story-sells/user" method="POST" enctype="multipart/form-data"
                          class="customer__information-content-form">
                        <div class="customer__information-content-avatar-name">
                            <div class="customer__information-content-avatar">
                                <img id="customerAvatar" src="<%= customerData.customer_avatar %>" alt="">
                                <input type="file" id="avatarInput" name="avatar" accept="image/*">
                            </div>
                            <div class="customer__information-content-username">
                                <div class="customer__information-content-name">
                                    <label for="">First Name: </label>
                                    <input type="text" class="customer__information-content-name-input"
                                           value="<%= customerData.customer_fname %>"
                                           placeholder="Your first name">
                                </div>
                                <div class="customer__information-content-name">
                                    <label for="">Last Name: </label>
                                    <input type="text" class="customer__information-content-name-input"
                                           value="<%= customerData.customer_lname %>"
                                           placeholder="Your last name">
                                </div>
                            </div>
                        </div>
                        <div class="customer__information-content-dateOfBirth">
                            <label for="">Birthday: </label>
                            <div class="customer__information-content-dateOfBirth-inputs">
                                <input name="day" type="number"
                                       class="customer__information-content-dateOfBirth-input" placeholder="Day"
                                       min="1" max="31"
                                       value="<%= customerData.customer_birthday ? customerData.customer_birthday.getDate() : '' %>">
                                <input name="month" type="number"
                                       class="customer__information-content-dateOfBirth-input"
                                       placeholder="Month" min="1" max="12"
                                       value="<%= customerData.customer_birthday ? customerData.customer_birthday.getMonth() + 1 : '' %>">
                                <input name="year" type="number"
                                       class="customer__information-content-dateOfBirth-input"
                                       placeholder="Year" min="1900" max="2023"
                                       value="<%= customerData.customer_birthday ? customerData.customer_birthday.getFullYear() : '' %>">
                            </div>
                        </div>
                        <div class="customer__information-content-gender">
                            <label for="">Gender: </label>
                            <div class="customer__information-content-gender-inputs">
                                <input type="radio" id="male" name="gender" value="male"
                                       <% if (customerData.customer_gender === 'male') { %>checked
                                        <% } %>
                                >
                                <label for="male">Male</label>

                                <input type="radio" id="female" name="gender" value="female"
                                       <% if (customerData.customer_gender === 'female') { %>checked
                                        <% } %>
                                >
                                <label for="female">Female</label>

                                <input type="radio" id="other" name="gender" value="other"
                                       <% if (customerData.customer_gender === 'other') { %>checked
                                        <% } %>
                                >
                                <label for="other">Other</label>
                            </div>
                        </div>
                        <div class="customer__information-content-national">
                            <label for="nationality">National</label>
                            <div class="customer__information-content-national-inputs">
                                <select name="nationality" id="nationality"
                                        class="customer__information-content-national-select">
                                    <option value="default" selected>Please select your nationality</option>
                                    <% for (let i = 0; i < countryOptions.length; i++) { %>
                                        <% if (countryOptions[i] === customerData.customer_nationality) { %>
                                            <option value="<%= countryOptions[i] %>"
                                                    selected><%= countryOptions[i] %></option>
                                        <% } else { %>
                                            <option value="<%= countryOptions[i] %>"><%= countryOptions[i] %></option>
                                        <% } %>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="customer__information-content-submit">
                            <button type="submit" class="customer__information-content-button">
                                Save changes
                            </button>
                        </div>
                    </form>
                </div>
                <div class="customer__information-content-right">
                    <div class="customer__information-content-contact">
                        <span>Phone and Email</span>
                        <form action="" method="" class="customer__information-content-contact-content">
                            <div class="customer__information-content-contact-content-left">
                                <i class="fa-solid fa-phone"></i>
                                <div class="customer__information-content-contact-content-text">
                                    <span>Phone number</span>
                                    <span class="customer__information-content-contact-content-text-output"><%= customerData.customer_phoneNo %></span>
                                </div>
                            </div>
                            <button type="submit" class="customer__information-content-update">
                                Update
                            </button>
                        </form>
                        <form action="" method="" class="customer__information-content-contact-content">
                            <div class="customer__information-content-contact-content-left">
                                <i class="fa-regular fa-envelope"></i>
                                <div class="customer__information-content-contact-content-text">
                                    <span>Email address</span>
                                    <span class="customer__information-content-contact-content-text-output"><%= customerData.customer_email %></span>
                                </div>
                            </div>
                            <button type="submit" class="customer__information-content-update">
                                Update
                            </button>
                        </form>
                    </div>
                    <div class="customer__information-content-contact">
                        <span>Security</span>
                        <form action="" method="" class="customer__information-content-contact-content">
                            <div class="customer__information-content-contact-content-left">
                                <i class="fa-solid fa-lock"></i>
                                <div class="customer__information-content-contact-content-text">
                                    <span>Change password</span>
                                </div>
                            </div>
                            <button type="submit" class="customer__information-content-update">
                                Update
                            </button>
                        </form>
                        <form action="" method="" class="customer__information-content-contact-content">
                            <div class="customer__information-content-contact-content-left">
                                <i class="fa-solid fa-shield"></i>
                                <div class="customer__information-content-contact-content-text">
                                    <span>Set up a PIN code</span>
                                </div>
                            </div>
                            <button type="submit" class="customer__information-content-update">
                                Update
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="book_upload" id="notification" style="display:none;">
        </section>
        <section class="book_upload" id="favoriteBook" style="display:none;">
        </section>
        <section class="book_upload" id="addressNumber" style="display:none;">
        </section>
        <section class="book_upload" id="billingInformation" style="display:none;">
        </section>
        <section class="book_upload" id="orderManagement" style="display:none;">
        </section>
        <section class="book_upload" id="bookList" style="display:none;">
        </section>
        <section class="book_upload" id="uploadBooks" style="display:none;">
            <h4 class="section-title">Upload Book</h4>
            <div class="book__upload-content">
                <form action="/story-sells/user" method="POST" enctype="multipart/form-data"
                      class="book__upload-content-form">
                    <div class="upload-files-container">
                        <div class="drag-file-area">
                            <span class="material-icons-outlined upload-icon">
                                file_upload
                            </span>
                            <h3 class="dynamic-message">
                                Drag & drop any file here
                            </h3>
                            <label class="label"> or
                                <span class="browse-files">
                                    <input type="file" class="default-file-input"/>
                                    <span class="browse-files-text">browse file</span>
                                    <span>
                                        from device
                                    </span>
                                </span>
                            </label>
                        </div>
                        <span class="cannot-upload-message">
                            <span class="material-icons-outlined">
                                error
                            </span>
                            Please select a file first
                            <span class="material-icons-outlined cancel-alert-button">
                                cancel
                            </span>
                        </span>
                        <div class="file-block">
                            <div class="file-info">
                                <span class="material-icons-outlined file-icon">
                                    description
                                </span>
                                <span class="file-name">
                                </span>
                                |
                                <span class="file-size">
                                </span>
                            </div>
                            <span class="material-icons remove-file-icon">delete</span>
                            <div class="progress-bar"></div>
                        </div>
                        <button type="button" class="upload-button">Upload</button>
                    </div>
                    <div class="book__upload-info">
                        <div class="book__upload-info-block book__upload-info-title">
                            <h3>Book Title</h3>
                            <input type="text" class="book__upload-info-input" placeholder="Input the Book Title">
                        </div>
                        <div class="book__upload-info-block book__upload-info-author">
                            <h3>Book Author</h3>
                            <input type="text" class="book__upload-info-input"
                                   placeholder="Input the Book Author/ Authors">
                        </div>
                        <div class="book__upload-info-block book__upload-info-title">
                            <h3>Book Genre</h3>
                            <input type="text" class="book__upload-info-input"
                                   placeholder="Input the Book Genre/ Genres">
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
<script>
    function changeInputBorderStyle(focus) {
        const input = document.querySelector('.header__search-find-input');
        if (focus) {
            input.classList.add('focus');
        } else {
            input.classList.remove('focus');
        }
    }
</script>
<script>
    const avatarInput = document.querySelector('#avatarInput');
    const customerAvatar = document.querySelector('#customerAvatar');

    avatarInput.addEventListener('change', (event) => {
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onload = function (e) {
            customerAvatar.src = e.target.result;
        };

        reader.readAsDataURL(file);
    });
</script>
<script>
    var isAdvancedUpload = function () {
        var div = document.createElement('div');
        return (('draggable' in div) || ('ondragstart' in div && 'ondrop' in div)) && 'FormData' in window && 'FileReader' in window;
    }();

    let draggableFileArea = document.querySelector(".drag-file-area");
    let browseFileText = document.querySelector(".browse-files");
    let uploadIcon = document.querySelector(".upload-icon");
    let dragDropText = document.querySelector(".dynamic-message");
    let fileInput = document.querySelector(".default-file-input");
    let cannotUploadMessage = document.querySelector(".cannot-upload-message");
    let cancelAlertButton = document.querySelector(".cancel-alert-button");
    let uploadedFile = document.querySelector(".file-block");
    let fileName = document.querySelector(".file-name");
    let fileSize = document.querySelector(".file-size");
    let progressBar = document.querySelector(".progress-bar");
    let removeFileButton = document.querySelector(".remove-file-icon");
    let uploadButton = document.querySelector(".upload-button");
    let fileFlag = 0;

    fileInput.addEventListener("click", () => {
        fileInput.value = '';
        console.log(fileInput.value);
    });

    fileInput.addEventListener("change", e => {
        console.log(" > " + fileInput.value)
        uploadIcon.innerHTML = 'check_circle';
        dragDropText.innerHTML = 'File Dropped Successfully!';
        document.querySelector(".label").innerHTML = `drag & drop or <span class="browse-files"> <input type="file" class="default-file-input" style=""/> <span class="browse-files-text" style="top: 0;"> browse file</span></span>`;
        uploadButton.innerHTML = `Upload`;
        fileName.innerHTML = fileInput.files[0].name;
        fileSize.innerHTML = (fileInput.files[0].size / 1024).toFixed(1) + " KB";
        uploadedFile.style.cssText = "display: flex;";
        progressBar.style.width = 0;
        fileFlag = 0;
    });

    uploadButton.addEventListener("click", () => {
        let isFileUploaded = fileInput.value;
        if (isFileUploaded != '') {
            if (fileFlag == 0) {
                fileFlag = 1;
                var width = 0;
                var id = setInterval(frame, 50);

                function frame() {
                    if (width >= 340) {
                        clearInterval(id);
                        uploadButton.innerHTML = `<span class="material-icons-outlined upload-button-icon"> check_circle </span> Uploaded`;
                    } else {
                        width += 5;
                        progressBar.style.width = width + "px";
                    }
                }
            }
        } else {
            cannotUploadMessage.style.cssText = "display: flex; animation: fadeIn linear 1.5s;";
        }
    });

    cancelAlertButton.addEventListener("click", () => {
        cannotUploadMessage.style.cssText = "display: none;";
    });

    if (isAdvancedUpload) {
        ["drag", "dragstart", "dragend", "dragover", "dragenter", "dragleave", "drop"].forEach(evt =>
            draggableFileArea.addEventListener(evt, e => {
                e.preventDefault();
                e.stopPropagation();
            })
        );

        ["dragover", "dragenter"].forEach(evt => {
            draggableFileArea.addEventListener(evt, e => {
                e.preventDefault();
                e.stopPropagation();
                uploadIcon.innerHTML = 'file_download';
                dragDropText.innerHTML = 'Drop your file here!';
            });
        });

        draggableFileArea.addEventListener("drop", e => {
            uploadIcon.innerHTML = 'check_circle';
            dragDropText.innerHTML = 'File Dropped Successfully!';
            document.querySelector(".label").innerHTML = `drag & drop or <span class="browse-files"> <input type="file" class="default-file-input" style=""/> <span class="browse-files-text" style="top: -23px; left: -20px;"> browse file</span> </span>`;
            uploadButton.innerHTML = `Upload`;

            let files = e.dataTransfer.files;
            fileInput.files = files;
            console.log(files[0].name + " " + files[0].size);
            console.log(document.querySelector(".default-file-input").value);
            fileName.innerHTML = files[0].name;
            fileSize.innerHTML = (files[0].size / 1024).toFixed(1) + " KB";
            uploadedFile.style.cssText = "display: flex;";
            progressBar.style.width = 0;
            fileFlag = 0;
        });
    }

    removeFileButton.addEventListener("click", () => {
        uploadedFile.style.cssText = "display: none;";
        fileInput.value = '';
        uploadIcon.innerHTML = 'file_upload';
        dragDropText.innerHTML = 'Drag & drop any file here';
        document.querySelector(".label").innerHTML = `or <span class="browse-files"> <input type="file" class="default-file-input"/> <span class="browse-files-text">browse file</span> <span>from device</span> </span>`;
        uploadButton.innerHTML = `Upload`;
    });
</script>
<script>
    const listItems = document.querySelectorAll('.aside__area-options-list-item');
    const sections = document.querySelectorAll('.customer__container section');

    listItems.forEach((item, index) => {
        item.addEventListener('click', () => {
            listItems.forEach((li) => {
                li.classList.remove('aside__area-options-list-item-active');
            });

            item.classList.add('aside__area-options-list-item-active');

            sections.forEach((section) => {
                section.style.display = 'none';
            });
            sections[index].style.display = 'block';
        });
    });

</script>

<%- include('../partials/footer.ejs') -%>
</body>
</html>