<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account</title>
    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" href="/css/admin-account.css">
    <link rel="stylesheet" href="/css/customer-account.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/Icon/Ico.png">
    <script src="https://kit.fontawesome.com/d8ded057c6.js" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navigation" id="navigation">
    <div class="navigation__container">
        <div class="navigation__container-user">
            <img src="<%= customerData.customer_avatar %>" alt="" class="navigation__container-user-avatar">
            <div class="navigation__container-user-info">
                <span class="navigation__container-user-username">
                    <%= customerData.customer_firstName + " " + customerData.customer_lastName %>
                </span>
                <span class="navigation__container-user-role">
                    <%= customerData.customer_role %>
                </span>
            </div>
        </div>
        <div class="navigation__container-separate"></div>
        <% if (customerData.customer_role === "admin") { %>
            <div class="navigation__container-section" id="admin">
                <h2 class="navigation__container-section-title">
                    Admin Page
                </h2>
                <ul class="navigation__container-list">
                    <li class="navigation__container-list-item" id="manageUsersItem">
                        <div class="navigation__container-option navigation__container-option-active">
                            <div class="navigation__container-option-icon">
                                <i class="fa-regular fa-user"></i>
                            </div>
                            <div class="navigation__container-option-text">
                                <span>Manage Users</span>
                            </div>
                        </div>
                    </li>
                    <li class="navigation__container-list-item" id="manageBooksItem">
                        <div class="navigation__container-option">
                            <div class="navigation__container-option-icon">
                                <i class="fa-solid fa-heart"></i>
                            </div>
                            <div class="navigation__container-option-text">
                                <span>Manage Books</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        <% } %>
        <div class="navigation__container-section" id="account">
            <h2 class="navigation__container-section-title">
                Account Page
            </h2>
            <ul class="navigation__container-list">
                <li class="navigation__container-list-item" id="personalInfo">
                    <div class="navigation__container-option <% if (customerData.customer_role === 'user') { %> navigation__container-option-active <% } %>">
                        <div class="navigation__container-option-icon">
                            <i class="fa-regular fa-user"></i>
                        </div>
                        <div class="navigation__container-option-text">
                            <span>Personal info</span>
                        </div>
                    </div>
                </li>
                <li class="navigation__container-list-item" id="wishlistItem">
                    <div class="navigation__container-option">
                        <div class="navigation__container-option-icon">
                            <i class="fa-solid fa-heart"></i>
                        </div>
                        <div class="navigation__container-option-text">
                            <span>Wishlist</span>
                        </div>
                    </div>
                </li>
                <li class="navigation__container-list-item" id="orderListItem">
                    <div class="navigation__container-option">
                        <div class="navigation__container-option-icon">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                        <div class="navigation__container-option-text">
                            <span>Order List</span>
                        </div>
                    </div>
                </li>
                <li class="navigation__container-list-item" id="billingMethodItem">
                    <div class="navigation__container-option">
                        <div class="navigation__container-option-icon">
                            <i class="fa-solid fa-credit-card"></i>
                        </div>
                        <div class="navigation__container-option-text">
                            <span>Billing Method</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="navigation__container-section" id="authentication">
            <h2 class="navigation__container-section-title">
                Authentication
            </h2>
            <ul class="navigation__container-list">
                <li class="navigation__container-list-item" id="settingItem">
                    <div class="navigation__container-option">
                        <div class="navigation__container-option-icon">
                            <i class="fa-solid fa-gear"></i>
                        </div>
                        <div class="navigation__container-option-text">
                            <span>Setting</span>
                        </div>
                    </div>
                </li>
                <li class="navigation__container-list-item">
                    <form action="/story-sells/user/logout" method="POST" id="logoutForm">
                        <button type="submit" class="navigation__container-option">
                            <div class="navigation__container-option-icon">
                                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            </div>
                            <div class="navigation__container-option-text">
                                <span>Log out</span>
                            </div>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="navigation__container-logo">
        <img src="/img/Icon/Website-logo.svg" alt="" class="navigation__container-logo-image">
    </div>
</nav>
<div class="container" id="container">
    <header class="header" id="header">
        <div class="header__container">
            <div class="header__container-block">
                <button type="button" class="header__container-sideBar" onclick="controlNavigation()">
                    <img src="/img/Icon/UI/Left-Sidebar.png"
                         class="header__container-logo-image header__container-sideBar-image" alt="">
                </button>
                <div class="header__container-subNav">
                    <button type="button" class="header__container-subNav-button" id="sectionButton">
                        Admin Page
                    </button>
                    <span>/</span>
                    <button type="button" class="header__container-subNav-button" id="sectionListButton">
                        Manage Users
                    </button>
                </div>
            </div>
            <div class="header__container-block">
                <div class="header__container-searchBar">
                    <div class="header__container-searchBar-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <img src="/img/Icon/UI/Command.png" alt="">
                    </div>
                    <input type="text" class="header__container-searchBar-input" placeholder="Search">
                </div>
                <button type="button" class="header__container-theme">
                    <img src="/Img/Icon/UI/Sun.png" alt=""
                         class="header__container-logo-image header__container-notification-light">
                </button>
                <button type="button" class="header__container-history">
                    <img src="/Img/Icon/UI/History.png" alt=""
                         class="header__container-logo-image header__container-notification-history">
                </button>
                <button type="button" class="header__container-notification">
                    <img src="/Img/Icon/UI/Bell.png" alt=""
                         class="header__container-logo-image header__container-notification-bell">
                    <span class="header__container-notification-numbers">2</span>
                </button>
            </div>
        </div>
    </header>
    <div class="container__section" id="manageUsersItemSection" <%if(customerData.customer_role === "user") { %> style="display: none"<% } %>>
        <%- include('partials/manage-users.ejs', {listOfCustomer: 0}) -%>
    </div>
    <div class="container__section" id="manageBooksItemSection" style="display: none;">

    </div>
    <div class="container__section" id="personalInfoSection" <%if(customerData.customer_role === "admin"){%> style="display: none"<%}%>>
        <%- include('partials/personal-info.ejs', {customerData: customerData}) -%>
    </div>
    <div class="container__section" id="wishlistItemSection" style="display: none">

    </div>
    <div class="container__section" id="orderListItemSection" style="display: none">

    </div>
    <div class="container__section" id="billingMethodItemSection" style="display: none">

    </div>
    <div class="container__section" id="settingItemSection" style="display: none">

    </div>
</div>

<script>
    const container = document.getElementById("container");
    const navigation = document.getElementById("navigation");

    function controlNavigation() {
        navigation.classList.toggle("visible");
        container.classList.toggle("collapsed");
    }
</script>
<script>
    const sectionButton = document.getElementById('sectionButton');
    const sectionListButton = document.getElementById('sectionListButton');
    const listItems = document.querySelectorAll('.navigation__container-list-item');

    listItems.forEach(item => {
        item.addEventListener('click', () => {
            listItems.forEach(item => {
                item.querySelector('.navigation__container-option').classList.remove('navigation__container-option-active');
            });

            item.querySelector('.navigation__container-option').classList.add('navigation__container-option-active');
            sectionListButton.innerHTML = item.querySelector('.navigation__container-option').querySelector('.navigation__container-option-text').innerHTML;

            const sectionId = item.getAttribute('id');

            switch (sectionId) {
                case 'manageUsersItem':
                case 'manageBooksItem':
                    sectionButton.innerHTML = 'Admin Page';
                    break;
                case 'personalInfo':
                case 'wishlistItem':
                case 'orderListItem':
                case 'billingMethodItem':
                    sectionButton.innerHTML = 'Account Page';
                    break;
                case 'settingItem':
                    sectionButton.innerHTML = 'Setting Page';
                    break;
                default:
                    break;
            }

            const containerSection = document.getElementById(sectionId + 'Section');
            const sections = document.querySelectorAll('.container__section');
            sections.forEach(section => {
                section.style.display = 'none';
            });
            containerSection.style.display = 'block';
        });
    });
</script>
</body>
</html>
